body {background: #f4f4f4;}
.whiteEmailContainer {
	background:white;
	border-radius:5px;
	padding: 20px;
	width: 440px;
	margin:25px auto 0 auto;
	
}
.whiteEmailContainer input {
	width: 430px;
}
.whiteEmailContainer input[type='submit'] {
	width: 440px;
}
.whiteEmailContainer a:link, .whiteEmailContainer a:visited {
	color: #9c9c9c;
	
}
.message {
	padding-top:0px;
	padding-bottom:0px;
	position:absolute;
	top:0px;
	width: 100%;
}
@media screen and (max-width: 820px) {
	.whiteEmailContainer {width: auto; margin: 15px 15px 0 15px;}
}