.message.error.CardError {
	text-align: center;
	top: 90px;
	left:50%;
	margin-left:-250px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: 'arial';
	color: white;
	width: 500px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	font-size: 16px;
	position: fixed;
	clear: both;
	box-shadow: 0px 2px 22px #242424;
	-webkit-box-shadow: 0px 2px 22px #242424;
	-moz-box-shadow: 0px 2px 22px #242424;
	z-index: 999;
	background: #BE5151;
	border: 1px solid #811010;
	color:white;
	font-weight: normal;

}


.productPricing .price {
	font-family: 'museo_sans500';
	color:black;
	font-size: 30px;
}

.whiteEmailContainerCart {
	background: white;
	border-radius: 5px;
	width: 800px;
	border-bottom: 1px solid #E6E6E6;
}

.whiteEmailContainerCart .Header {
	float:left;
}
.clearCartButton {
	float:right;
}

.productBreadCrumbs {
	padding:0px 0px 15px 0px;
	font-family: 'museo_sans500';
}

.productBreadCrumbs a:link, .productBreadCrumbs a:visited {
	font-family: 'museo_sans500';
	color:#9c9c9c;
	text-decoration:underline;
}
.productBreadCrumbs span {
	margin: 0 10px	
}
a.clearCart:link, a.clearCart:visited {
	background: #c30000;
	font-size: 16px;
	padding: 7px 10px;
	color:white;
	text-decoration:none;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
a.clearCart:hover {
	background: #900202;
}

.totalPrice {width:145px; text-align: right;}
.delete {
	    width: 35px;
    text-align: center;
    padding-left: 15px !important;
}
.qnty {
	width:150px;
	    text-align: left;
}
.price {
	width:150px;
	 text-align: left;

}
.cartProductLine {
	padding:10px 0px 0px 0px; border-top: 1px solid #f4f4f4;
	margin-bottom: 10px;
}
.productName {
	margin-bottom:5px;
}

.cartProductLine .pricing {
	float:right;
	padding-right:10px;
	font-size: 25px;
	color: black;
	margin-top: 50px;
}
.cartProductLine .productInfo {
	height: 120px;	
}


.cartProductLine .productInfo, .cartProductLine .productInfo .image, .cartProductLine .productInfo .info {
	float:left
}
.tdImage {
	width:90px; padding-right:20px;text-align:center;border-top: 1px solid #f4f4f4;     padding-top: 15px;
    padding-left: 15px;

}
.cartProductLine .productInfo .image {
	width:150px;
	text-align:center;
	height: 100%;
	
}
.colorBox {width: 25px; margin-right:5px; height: 25px; float:left}
.colorName {float:left; margin-top:3px;}

.cartProductLine .productInfo .info {
	margin-left: 10px;
	margin-top: 20px;
}
.deleteItem {
	background:url(../images/deleteItem.png) no-repeat center;
	width:20px;
	height:20px;
}

.userCart {
}

.mobileQuantity {
	display:block;
}
.mobileColor {
	display:none
	
}
.qntyHeader {
	width: 135px; padding-left:25px; text-align:left;
	
}
.salesTaxInfo {
	font-size:16px; text-align:right;padding-top: 10px; color: black;
}
.tableCartItem {
	width:100%; border-collapse:collapse;
}
.cartTitleInfo {
	font-size:20px; text-align:right; color: black;
}
.checkOutButton {

	color:black;
	font-size:20px;
}
.yourCartButton, .checkOutButton {
background: #40AADD;
font-size: 16px;
padding: 4px 10px;
color: white;
float: left;



}
.yourCartButton {
	margin-top: -7px;
	display:none;	
}

.checkoutSection {
	display:block;
	margin-top: 15px;
	padding: 0px 0px 5px 0px;
}

.checkoutSection .content {
	margin-top:15px;
}
.checkoutSection .label {
	font-size:16px;
	color: #9c9c9c;
}
.checkoutSection .labelContent {
	float:left;
	padding-right:10px;
	margin-right:10px;
	box-sizing: border-box;
}
.checkoutSection .thirdInput {
	width:32%
}
.checkoutSection .halfInput {
	width:49%;
}
.checkoutSection .halfInput input {
	padding-left:0px;
}

.checkoutSection .fullWidth, .checkoutSection .fullWidth input {
	width:100%
}
.checkoutSection input {
	width:100%
}
.checkoutSection select {
	width:104%
}
.checkoutSection select {
	font-size: 12px;
	font-family: arial;
	padding: 1px;
	border-radius: 2px;
	height: 32px;
	background: white;
}
.checkoutSection .lastInputHalf {
	width: 48.5%;
	padding-right: 0px;
}
/*
.checkoutSection .addressInput {
	padding-left:2px;
}
*/
.checkoutSection .zipInput {
	width: 33% !important;
	margin-right: 0px;
}
.checkoutSection .checkoutTotal2 {
	padding:15px 0px 10px 0px;
	clear: both;
	font-size:20px;
	color:black;
	text-align:right;
}
.message.error {
	padding:0px;
	margin-bottom: 15px;
}
.cartTable {
	color: #9c9c9c;
}
.CartCardSection {
	
}

.countryDropDown {
	    width: 101% !important;
}
.totalHeader {
	text-align:right; width: 85px;
}
.CartCardSection .tdImageHeader {width: 90px;}
.CartCardSection .delete {width:25px;}
.CartCardSection .totalPrice {width:125px; text-align: right; padding-right: 5px;}
.CartCardSection .qnty {width: 120px; text-align: left;}
.CartCardSection .price {padding-right:20px; text-align:right;}

#cartInfoTitle {width:100%;}
#cartInfoTitle td {font-size:16px; color:#9c9c9c;     padding: 18px 0px;}
.cartInfo .Header {width:100%; background:#f4f4f4; 
border-top-left-radius:5px;
-webkit-border-top-left-radius:5px;
-moz-border-top-left-radius:5px;
border-top-right-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-top-right-radius:5px;
border-bottom:1px solid #E6E6E6;
}
.cartTable td {border-bottom: 1px solid #f4f4f4; color:black}
.cartTable .qntyItem {width:150px;}
#cartInfoTitle .productInfoPriceSingle {width: 65px; text-align: right;}
.cartTable .productSingleTotalPrice {color:black;width: 100px; padding-left: 5px;}
.deleteHeaderItem {width: 30px;}


.shipping select {
	width:101%
}
.message {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
}
.payment-errors, .billingErrors, .errorMessageText {
	color:#c30000;
}
.cartCalculations {
	border-collapse:collapse; margin: 0px 20px;
}
.cartCalculations tr td:first-child {
	font-size:16px;  width: 140px; text-align:left; color:#9c9c9c
}
.cartCalculations tr td:last-child {
	font-size:16px;  color: black; text-align:right;
}
.cartCalculations td.shipping {
	display:none;
}
#cardTypeContainer {
	float:right;
}
#cardTypeContainer #cardTypeIconHolder {
	float:left;
	width:38px;
	height:23px;
	
}
#cardTypeContainer .Visa {
	background:url(../images/VisaIcon.jpg) no-repeat center;
	border: 1px solid #cecece;
}
#cardTypeContainer .MasterCard {
	background:url(../images/MasterCard.jpg) no-repeat center;
}
#cardTypeContainer .AmericanExpress {
	background:url(../images/AmericanExpress.jpg) no-repeat center;
}
#cardTypeContainer .Discover {
	background:url(../images/Discover.jpg) no-repeat center;
}
.processingOverlay {
	background: black;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: .5;
	/*display: none; */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	z-index: 99999;
	display:none;
}
.ProcessingPopup {
	z-index: 1000000;
	background:white;
	padding:5px;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 180px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  	box-shadow: 0px 4px 0px rgba(0,0,0,0.3);
  	-webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.3);
  	-moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.3);
	margin-left: -95px;
	margin-top:-99.5px;
	display:none;
}
.ProcessingPopup .header {
	font-family: 'museo_sans500';
	font-size:24px; text-align:center; margin-bottom: 15px; margin-top: 5px; color:black
}
.whiteEmailContainerCart.userCart .cartHeader {
	font-size:24px; 
	margin-bottom: 10px;  
	color: #40aadd; 
	padding: 0px 10px 5px 0px;
}
.CardError {
	width: 550px;
	top: 130px;
	left: 50%;
	margin-left: -275px;
	position: fixed;
	font-size: 14px;
	padding: 5px !important;
}
/*----------------input/textarea boxes---------------*/
.clearButton {
	width:100px; padding-left:5px !important;
}

.shippingRateButton {
	background:url(../images/refreshRates.png) no-repeat center;
	    width: 33px !important; height:33px;
	border:none;
}
.shippingRateButton:hover {
	background:url(../images/refreshRatesOver.png) no-repeat center;	
}
	
.shippingRateButton[disabled] {
	opacity:.5
}
.shippingRateButton[disabled]:hover {
	background:url(../images/refreshRates.png) no-repeat center;	
}
.shippingFormContent {
	float:left
	
}
.CartTotalSection {
    margin-left: 830px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}
.CartTotalSection .header {
	font-size: 24px;
    color: #40aadd;
    padding: 10px;
    border-bottom: 1px solid #E6E6E6;
        background: #f4f4f4;
}
.CartTotalSection table {
	padding:10px 10px 0px 10px; 
}

.CartTotalSection table td {
	color:black; padding:0px 0px 5px 0px
}
.CartTotalSection table td:last-child {
	text-align:right; padding-left:20px;	
} 

.confirmCartTable {
	width:100%; border-collapse:collapse;
}
.confirmCartTable td {
	padding:5px; border-bottom: 1px solid #E6E6E6;
}
.confirmCartTable tr.header td {
	 color: #9c9c9c;
}
.confirmButton {
	margin-top:10px
}
.confirmButtonMobile {
	display:none;
}

@media screen and (max-width: 1200px) {
	.CartTotalSection {
 		margin-left:770px
	}	
	.whiteEmailContainerCart {
		width:740px	
		
	}

}


@media screen and (max-width: 1100px) {
	.whiteEmailContainerCart{width: 630px;}
	.checkoutSection .thirdInput {width: 31.5%;}
	.checkoutSection .halfInput {width: 49%;}
	.CartTotalSection {
		margin-left:640px	
	}

	
}

@media screen and (max-width: 960px) {
	.tdImage, .tdImageHeader {display:none;}
	.totalPrice {width: 55px;}
    .price {width: 80px;}
	/*.mobileQuantity, .mobileColor {display:block}*/
	.quantityText, .colorChoicesDropDown {display:none;}
	.qnty {width: 60px; text-align:center;}
	.product {padding:10px;}
	.colorBox {display:none;}
	.CartTotalSection {
    margin-left: 540px;
}
.whiteEmailContainerCart {
    width: 530px;
}
}
@media screen and (max-width: 820px) {
	.CartTotalSection {
		margin-left:0px; float:none; margin-top:15px;
	}
	.shippingFormContent {
		float:none; 
	}
	.whiteEmailContainerCart {
    margin:0 auto;     width: 100%;}
    .confirmButton {
display:none;	}
	
	.confirmButtonMobile {
		display:block; margin-top:10px;
	}
    
    
}
@media screen and (max-width: 760px) {
	.productCard {width: 45%;}
	.checkoutSection .thirdInput {width: 31.5%;}
	
}
@media screen and (max-width: 625px) {
	a.clearCart:link, a.clearCart:visited {
		padding:0px; background:transparent;
		color:#c30000
	}
	.clearButton {
		width:80px; padding-right:5px; text-align:left;
	}
	
	.qntyHeader {width: 35px;}
	.checkoutSection .thirdInput, .checkoutSection .halfInput, .checkoutSection .zipInput {width: 100% !important; float:none;}
	.checkoutSection .labelContent {margin-right:0px; padding-right:0px;}
	.checkoutSection input, .checkoutSection .fullWidth input {width:100%}
	input[type="text"], .checkoutSection .addressInput {
		padding-left:0px;
	}
	
	.checkoutSection select, .countryDropDown select {width: 100%;}
	.whiteEmailContainerCart{margin-bottom:20px;}
	
	.CartCardSection .tdImageHeader {width: 90px;}
	.CartCardSection .delete {display:none;}
	.CartCardSection .totalPrice {width: 35px; padding-right: 0px;}
	.CartCardSection .qnty {width: 80px; text-align: center;}
	.CartCardSection .price {padding-right:5px; text-align:right;}
	.shipping {
	  margin-top: 5px;
  margin-bottom: 5px;
}
.shipping select {
	width:100.5%
}
	
	
	
}
@media screen and (max-width: 480px) {
	.clearButton {display:none;}
	.productImage {width:100%;}
	.whiteEmailContainerCart td {font-size: 12px;}
	.checkoutSection input, .checkoutSection .fullWidth input {width:100%}
	.checkoutSection select {width:100%}
	.cartTitleInfo {font-size:16px;}
	.totalHeader {width: 65px;}
	
	
	
	.CartCardSection .product {  width: 230px;}
	.cartCalculations tr td:first-child {width:180px;}
	.cartCalculations tr td:first-child, .cartCalculations tr td:last-child {font-size:14px;}

}