.contactFormLine {
	margin-bottom:15px;
}
.contactLabel {
	font-family: 'museo_sans500';
	margin-bottom:5px;
}
.contactFormContainer {
	float:left;
	width: 560px;
}
textarea {
	width: 98%;
	height:80px;
}
.fullName {
	width:46%
}
input[type="text"], input[type="password"], textarea {
	padding-left: 5px;	
}
.email {
	width: 97%;
}
form.contactFormElement {
	margin-top: 10px;
}
.contactText {
	float: left;
	text-align: left;
	width: 550px;
	margin-left: 40px;

}
.message-holder {margin-top:5px;}
.email {width: 550px;}

.lastName {
	margin-left: 25px;
}


@media screen and (max-width: 1200px) {
	.contactText {width: 380px;}
}
@media screen and (max-width: 1030px) {
	.contactText {width: 380px;}
	.contactFormContainer {width: 500px;}
	.email{width: 490px;}
	.fullName {width: 45%;}
}
@media screen and (max-width: 965px) {
	.contactText {text-align: left; width: 100%; margin-left: 0px; clear: both; margin-bottom: 50px; margin-top: 20px;}
	.contentWrapper {padding:0px 15px;}
}
@media screen and (max-width: 820px) {
	.fullName, .email, textarea {width: 100%;}
	.contactFormContainer {width: 100%;}
	.lastName{margin-left:0px; margin-top:15px;}
	input[type="text"], input[type="password"], textarea {padding-left: 0px;}
	
}
