.whiteEmailContainer {
    background: white;
    width: 900px;
    margin: 25px auto 0 auto;
	
}
textarea {
	width:100%; padding:0px; min-height:200px;
}
input[type="text"] {
	width:100%; padding:0px; margin-bottom:15px;
}
.label {
	color:#9c9c9c
}

@media screen and (max-width: 1024px) {
	.whiteEmailContainer {width: 650px;}
}



@media screen and (max-width: 760px) {
	.whiteEmailContainer {width: 530px;}
}
@media screen and (max-width: 625px) {
	.whiteEmailContainer {width: 400px;}	
}
@media screen and (max-width: 480px) {
	.whiteEmailContainer {width: 270px; padding: 15px 10px 10px 15px;}
}


