	#slideShow {
      display: none
    }

    #slideShow .slidesjs-navigation {
      margin-top:10px;
    }

    #slideShow .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slideShow .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
	    margin: 17px 0 0;
	    float: right;
	    list-style: none;
	}

    .slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slideShow a:link,
    #slideShow a:visited {
      color: #333
    }

    #slideShow a:hover,
    #slideShow a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

    .container {
      margin: 0 auto
    }
	.slide {
		position:relative;
	}
	.slide img {
		width:100%
	}

  

    a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  .icon-chevron-left:before {
    content: "\f053";
}
  
body {
      -webkit-font-smoothing: antialiased;      
}
.sloganSection {
	padding:30px 10px;
}
.sloganSection .slogalText {
	    position: absolute;
    z-index: 1;
    top: 37%;
}

.sloganSection img {
	text-align:center;
	width: 50%;
	
}

.slideButton {
	cursor: pointer;
    border: none;
    color: white;
    background: #40aadd;
    font-family: arial;
    font-size: 20px;
    padding: 7px 20px;
    -webkit-appearance: none;
    font-family: 'museo_sans500';
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.slideButton:hover {
	    background: #217CA8;
}

 .slideButtonContainer {
	position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -45px;
 }

a[title="Next"], a[title="Previous"] {
	display:none;
}

.locateLifeSectionHeader {
	margin-bottom:20px;
}

.locateLifeLink {
	background:#40aadd;
	padding:10px;
	color:white;
	font-size:20px;
	text-decoration:none;
	text-align:center;
}
.locateLifeLink:hover {
	background: #217CA8;	
}



.CategoryList {float:left;}
.CategoryList a:link, .CategoryList a:visited {text-decoration:none; color:white;}
.CategoryList .link {background:#bfe7fb; text-align:center; color:#40aadd; margin-bottom:10px; padding: 10px; width:200px; font-family: 'museo_sans500';}
.CategoryList .link:hover, .CategoryList .link.selected {background:#40aadd; color:white}
.productList {margin-left:240px;}

.videoContainer {
width:100%
}
iframe {
	width: 100%;
    height: 600px;
}



ul.productULContainer {
	padding: 0 1% 0%;
}

.productCard {
	position:relative;
}

.productCard .priceInfo {
	font-family: 'museo_sans500';
	color:#000;
	text-align:center;
	padding: 10px 0px;
	font-size: 16px;
	position:absolute;
	  left: 10px;
  right: 10px;
  bottom: 0px;
  z-index: 1;
  display:none;
}

ul.productULContainer li {
	display: inline-block;
	width: 22%;
	margin: 0% 1% 1% 1%;
}

.mobileProductCategoryElement {
	width:100%; clear:both; display:none;
}

.mobileProductCategoryElement select {
	width:100%
}
.productCard .mouseOverWhite {
	background:white;
	position:absolute;
	top:0px; bottom:0px; left:0px; right:0px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	display:none;
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.productCard img {
	width: 100%;
	display: inherit;
}

.productCard:hover .priceInfo, .productCard:hover .mouseOverWhite {
	display:block;

}

.homePageContent {
	padding-top: 0px;
}

.latestProductsSection {
	clear:both;
	margin-top:30px;
	padding-bottom: 20px;
	border-bottom:1px solid #f4f4f4;
}
.latestProductsSection h1 {
	  font-size: 24px;
	  color:black;
	font-family: 'museo_sans500';
}
.checkoutSection .header {
	font-size:24px;
	color:black;
}
.OurStorySection {
	font-family: 'museo_sans500';
	font-size: 26px;
	text-align:center; 
	padding: 15px 0px 20px 0px;
}

a.shopMore:link, a.shopMore:visited {
	  background: #40aadd;
  padding: 11px 40px 11px 45px;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-size: 20px;
}
a.shopMore:hover {
	background: #217CA8;
}
.locateLifeButtonRedirect {
	position:absolute; right:0px; bottom: 5px; left: 0px;
}

.textContainer {
	width:420px;
}
#AboutUsLinkMobile {display:none}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 960px) {
}


@media screen and (max-width: 820px) {
	.mobileProductCategoryElement {display:block; margin-bottom:20px;}
	.CategoryList {display:none;}
	.productList {margin-left:0px;}
	.latestProductsSection {border-bottom:none; padding-bottom: 0px; margin-top: 10px;}
	ul.productULContainer li {width: 48%; list-style-type: none; display:block; margin-bottom: 4%; text-align: center; float:left;}
	ul.productULContainer li a:link {text-decoration:none;}
	.productCard {width: 100%;}
	.productCard {position:static;}
	.productCard .priceInfo {display:block; position:static;}
	.productCard .priceInfo .header {font-size:18px; margin-bottom: 5px;}
	.productCard .mouseOverWhite {display:none !important;}
	iframe {width: 100%;}
	.homePageContent {padding-top:0px;}
	.textContainer {
		width:100%;
		font-size:14px;
		line-height: 22px;
	}

	a.locateLifeLink:link, a.locateLifeLink:visited {
		padding:7px;
	}
	.sloganSection img {
		width:100%
	}
	.sloganSection .slogalText {
		top:33%;
		font-size:20px;
	}
}

@media screen and (max-width: 600px) {
	#AboutUsLink {display:none;}
	#AboutUsLinkMobile {display:block}
}

@media screen and (max-width: 480px) {
	
	    
	
}