.message {
	padding-top:5px;
	padding-bottom:5px;
	  margin-top: 5px;
	  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}
#ajaxImage {
	margin-top:20px !important;
}
.SingleLocationBackground {
	background:url(../images/locateLifeBackgroundPage.png) repeat;
}

.whiteEmailContainer {
	background:white;
	border-radius:5px;
	width: 900px;
	margin:25px auto 0 auto;
	
}
.locateLifeForm {
 max-width:750px;
 margin:0 auto;
}

.Image {
	max-width:1160px;
    margin: 30px auto 0 auto;
}
.Image img {
	width:100%
}
.message-holder .message {
	margin-top:-8px;
}


.locateLifeText {
	line-height:20px;
}
.locateLifeText .text {
	margin:0px 0px 15px 0px;
}
input[type='text'] {
	width:170px;
}
.formInputs {
	text-align:center;
    margin: 15px 0px
}

.locateLifeGeneratorSection {
	margin:25px 0px 10px 0px;
}
.locateLifeGeneratorSection .text {
	font-size:40px; color:#40aadd; 
	   font-family: 'AnodyneCombined';
	        background: #c1e8fb;
    display: table;
    margin: 0 auto;
    padding: 0px 10px;
	position: relative;
    z-index: 1;	    
}
.divider {
	border-bottom:1px solid #40aadd;
}
.singleLocationInformation {
	background-size: cover !important;
    background-position: 50% 50% !important;
    
}
.locationInformation {
	background:rgba(0,0,0,0.6);
	float:left;
	max-width:440px;
	padding:10px;
	margin-left: 10px;
    margin-right: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color:white;
}
.locationInformation .header {
	font-size:50px;     color: #40aadd; font-family: 'AnodyneCombined';
}

.playIcon {
	background:url(../images/playVideo.png) no-repeat center;
	width:50px; height:50px;
	margin:0 auto 10px auto;
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 820px) {
	.locationInformation {
		float:none; max-width:100%;
		margin-right:10px;
	}
}

@media screen and (max-width: 760px) {
	.formInputs {text-align:left;}
	input[type='text'] {width:100%; padding-left:0px; margin-bottom:15px;}
	.locateLifeGeneratorSection .text {font-size: 20px;
		
	}
}

@media screen and (max-width: 625px) {

	
}

@media screen and (max-width: 480px) {
	
}





