.message-holder {}
.message {
	text-align: left;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: 'museo_sans500';
	font-size: 16px;
	clear: both;
	
}
.message.error {
	color:#c30000;

}
.message.success {
	color:#276D11;
}


