.teamMemberSingle {
	width:300px; padding: 0px 15px; margin-bottom: 50px; display: inline-block;
    vertical-align: top;
}

.teamMemberSingle .description {
	background-color: black;
    position: absolute;
    top: 0px;
    bottom: 0px;
   
}
.teamMemberSingle .text {
	margin-top:10px; color:#9c9c9c
}
.jobTitle {
	color:#c1e8fb; text-align:center; margin-bottom:20px;
}

.profilePic {
	width:300px;
	height:300px;
	background-size: cover !important;
    background-position: 50% 50% !important;
    margin-bottom: 12px;
    border-radius: 160px;
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    border:1px solid #eee
}
.teamName {
	text-align:center;    color: #40aadd;
    font-size: 20px;
    font-family: 'AnodyneCombined';
}
.teamLink {
	text-align:center; margin:10px 0px
}
.teamMemberSingle:hover .teamLink img {
	opacity:1
} 
.teamLink img {
	opacity:.35;
}
#teamMemberPage {
	width: 1000px;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
	#teamMemberPage {
		width: 670px;	
	}
}

@media screen and (max-width: 780px) {
	#teamMemberPage {
		margin-top:30px;
		width: 320px;	
	}
}

@media screen and (max-width: 480px) { 
	a:link {
		text-decoration:none;
	}
	.teamMemberSingle {
		width:100%; margin:0 auto 40px auto; float:none; padding:0px !important;
	}
	.profilePic {
		width:200px; height:200px; margin:0 auto;
	}
	#teamMemberPage {
		width:100%
	}
	.contentWrapper {
		padding:0px;
	}
	.teamMemberSingle .text {
		    padding: 0px 10px;
	}
	.teamName {
		margin-top:10px;
	}
}