.CategoryList {float:left;}
.CategoryList a:link, .CategoryList a:visited {text-decoration:none; color:white;}
.CategoryList .link {background:#bfe7fb; text-align:center; color:#40aadd; margin-bottom:10px; padding: 10px; width:200px; font-family: 'museo_sans500';}
.CategoryList .link:hover, .CategoryList .link.selected {background:#40aadd; color:white}
.productList {margin-left:240px;}

.categoryImage {
	clear:both; width:100%; text-align:center; margin-bottom:30px;
}
.categoryImage img {
	max-width:900px;
}
.productCard {
	position:relative;
}
ul.productULContainer li {
	display: inline-block;
	width: 30%;
	margin: 0% 1% 1% 1%;
	vertical-align:top;
}

.mobileProductCategoryElement {
	width:100%; clear:both; display:none;
}

.mobileProductCategoryElement select {
	width:100%
}
.productCard .priceInfo {
	font-family: 'museo_sans500';
	color:#40aadd;
	text-align:center;
	padding: 10px 0px;
	font-size: 16px;
	position:absolute;
	  left: 10px;
  right: 10px;
  bottom: 0px;
  z-index: 1;
  display:none;
}
.productCard .mouseOverWhite {
	background:white;
	position:absolute;
	top:0px; bottom:0px; left:0px; right:0px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	display:none;
	filter: alpha(opacity=50);
	-moz-opacity:0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}

.productCard img {
	width: 100%;
	display: inherit;
}

.productCard:hover .priceInfo, .productCard:hover .mouseOverWhite {
	display:block;
}
.purchaseIcon {
	background:url(../images/purchaseIcon.png) no-repeat center;
	width:100px;
	height:100px;
	margin:0 auto;
}
@media screen and (max-width: 1200px) {
	.categoryImage img {
		width:800px;
	}	
}


@media screen and (max-width: 960px) {
	ul.productULContainer li {width:47%;}
	.productCard .priceInfo .header {font-size:18px; margin-bottom: 5px;}
	ul.productULContainer li a:link {
  		text-decoration: none;
	}
	.productCard .mouseOverWhite {display:none !important;}
	.productCard .priceInfo {display:block; position:static;}
	.productCard {width: 100%;}
	.productCard {position:static;}
	.categoryImage img {
		width:700px;
	}
	
}

@media screen and (max-width: 820px) {
	.mobileProductCategoryElement {display:block; margin-bottom:20px;}
	.CategoryList {display:none;}
	.productList {margin-left:0px;}
	.categoryImage img {
		width:100%	
	}
	.categoryImage {
		margin-bottom:0px;
	}
		
}

@media screen and (max-width: 480px) {
	ul.productULContainer li {width: 48%; list-style-type: none; display:block; float:left; margin-bottom: 4%; text-align: center;}
	
	
	
}