.categoryImage {
	clear:both; width:100%; text-align:center; margin-bottom:30px;
}
.categoryImage img {
	width:900px;
}

.productBreadCrumbs {
	padding:15px 0px;
	margin-bottom:10px;
	font-family: 'museo_sans500';
}

.productBreadCrumbs a:link, .productBreadCrumbs a:visited {
	font-family: 'museo_sans500';
	color:#9c9c9c;
	text-decoration:underline;
}
.OutOfStockSection {
    background: black;
    font-family: 'MuseoSans900';
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px 0px;
	position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    display:none;
}
.productBreadCrumbs span {
	margin: 0 10px	
}
.quantityTextInput {
	width:70px; text-align:right; padding-right:5px;
}
.productPricing {
	border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #f4f4f4;
	padding: 13px 0px;
	margin-bottom:14px;
	display: inline-block;
	width: 100%;
	margin-top:10px;
}
.productImage {
	float:left;
	width:45%;
	position:relative;
}
.productPricing .price {
	font-family: 'museo_sans500';
	color:black;
	font-size: 30px;
}
.productPricing .price, .productPricing .quantity {
	float:left;
}
.productPricing .quantity {
	margin-right:10px;
}
.productContent {
	margin-left:45%;
	padding-left:3%;
}
.sectionLine {margin-bottom: 13px; border-top: 1px solid #f4f4f4; margin-top:15px;}
.sectionLine .info {margin-top:10px; margin-bottom:5px;}
.sectionLine .linkElement {font-size:24px; color:black;}
.sectionLine .linkElement .plus {float: left; width: 21px;}
.sectionLine .linkElement .toggleIndicator {color:#40aadd}
.productColorSection {display:inline-block}

.productColorSection .colorBox {
	width:40px; height:40px; margin-right:5px; float:left; position:relative; cursor:pointer; border-radius:35px;-moz-border-radius:35px;
  -webkit-border-radius:35px;
}
.productColorSection .colorBox:hover .colorBoxHover, .productColorSection .colorBox .colorBoxHover.selected {
	border:3px solid white;
	position: absolute;
  	top: 5px;
  	left: 5px;
  	right: 5px;
  	bottom: 5px;
  	border-radius:15px;
  	-moz-border-radius:15px;
  	-webkit-border-radius:15px;
}
#colorSelectedText {
	top:0px;
	    font-family: 'museo_sans500';
    color: black;
    padding: 10px 0px 10px 10px;
  
    background: white;
    width: 100%;
    border: 1px solid #f4f4f4;
    display:none;
}
input[type="submit"].addCartBtn {
	width:100%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 10px 0px;
    letter-spacing: 2px;
}
.message {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
}
.message.error {
	color:#c30000;
	background:white;
	border:none;
	text-align:left;
	font-size:16px;
	font-family: 'museo_sans500';
}
.message.error.OutOfStockMessage {
	position:static; clear: none;
}
#messageContainer {
	padding-top:3px; 
}
.submitButton {
	margin-top:10px; 
	margin-bottom:10px;
}

#productDimentionInfo .line .label {
	color:black; float:left; font-family: 'MuseoSans900'; width:100px;
}
@media screen and (max-width: 1200px) {
	.categoryImage img {
		width:800px;
	}	
}

@media screen and (max-width: 960px) {
	.categoryImage img {
		width:700px;
	}
	
}

@media screen and (max-width: 820px) {
	.categoryImage img {
		width:100%	
	}
	.categoryImage {
		margin-bottom:0px;
	}
		
}

@media screen and (max-width: 750px) {
	.productImage{float:none; width:100%}
	.quantityTextInput {text-align:left;}
	.productContent {width:100%; padding-left:0px; margin-left: 0%; margin-top:3%;}
	.OutOfStockSection {font-size:24px;}
}
@media screen and (max-width: 750px) {
	.productPricing .price, .productPricing .quantity {
		float:none;
	}	
	.productPricing .price {
		margin-top:10px;
	}
	#colorSelectedText {position:static}
}


