* {margin:0; padding:0;}
html, body {
height: 100%;
}

body {
	color:#9c9c9c;
	font-family: 'museo_sans500';
}

.form-overlay {
background: black;
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
opacity: .5;
display: none;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
z-index: 1;
}
.enableJavascriptOverlay {
background: black;
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
opacity: .5;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
z-index: 1;
}
.enableJavascriptPopup {
	background: white;
  	z-index: 9;
  	position: fixed;
  	width: 510px;
  	padding: 10px;
  	top: 50%;
  	left: 50%;
  	margin-left: -265px;
  	margin-top: -28px;
	box-shadow: 0px 6px 4px #272727;
	-webkit-box-shadow: 0px 6px 4px #272727;
	-moz-box-shadow: 0px 6px 4px #272727;
  	border-radius: 5px;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
	font-size: 17px;
}

.contentContainer ul {
margin-left: 20px;
}

header {display:block; background:white; position:fixed; width:100%; z-index: 999;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;}
header.shadow {
	box-shadow: 0px 3px 12px #CFCFCF;
	-webkit-box-shadow: 0px 3px 12px #CFCFCF;
	-moz-box-shadow: 0px 3px 12px #CFCFCF;
	
}
.eCommerceUserLogin {
	position:absolute;
	right:0px;
	top:6px;
	width: 220px;
}
.eCommerceUserLogin a:link {
	text-decoration:none;
}
.eCommerceUserLogin .link {
	color:#000; font-family: 'museo_sans500'; font-size: 16px;
	float:left; margin-right:40px;
}
.eCommerceUserLogin .ShoppingCartLink {
	background:url(../images/shoppingCartIcon.png) no-repeat left;
	height:14px; float:right; padding-left: 20px;font-family: 'museo_sans500'; color:#40aadd; margin-right: 20px;
}
.contactText p, .textContainer, .contentContainer p, .whiteEmailContainer, .productDescription, .whiteEmailContainerCart, .noProducts {
	line-height: 28px;
	color: #9c9c9c;
	font-size:16px;
	font-family: 'museo_sans500';
}
.productDescription {
	margin-bottom:10px;
}
.contentContainer {
    margin: 0 auto;
    word-break:break-word;
}
.contentPush {
	height: 145px;
}
strong {
font-family: 'MuseoSans900';
}

footer {display:block; background:white; 
	width: 100%; clear: both;}
	
h1 {color:#40aadd; font-family: 'MuseoSans900'; font-size: 60px;}
h2 {color:#40aadd; font-family: 'MuseoSans900'; font-size: 40px;}
h3, h4, h5, h6 {color:#40aadd; font-family: 'MuseoSans900';}
.wrapper {
	width:1160px; 
	margin:0 auto;
}
#logo {
	display:table;
	margin:10px 0;
	padding:0px;
	width:20%;
	text-align:center;
}
.mainMenuLink {
	font-family: 'museo_sans500';
	padding: 50px 0px;
	text-align:center;
	width:20%;
}
#emailValidationMessage {
	margin-bottom:5px;
}
#emailValidationMessage .message.error {
	color:#c30000;position: static;
}
#emailValidationMessage .message.success {
	color:#45A128; position: static;
}
footer a:link, footer a:visited {
	font-family: 'museo_sans500';
	color:#9c9c9c;    
}

.mainMenuLink a:link, .mainMenuLink a:visited  {
	color:#9c9c9c;
	text-decoration:none;

}


ul.mainMenu li {
	float: left;
	list-style-type:none;
}
#secondaryMenu {background: #f4f4f4;}
#secondaryMenu .purchaseLinks, #secondaryMenu .NadaOrdinaryBottleLinks, #secondaryMenu .SupportLink {text-align:center; padding:15px 0px; display:none;}
#secondaryMenu a:link, #secondaryMenu a:visited {
	font-family: 'museo_sans500';
	color:#9c9c9c;
	text-decoration:none;	
}
#secondaryMenu .link {
	float:left;
	width: 150px;
}
#secondaryMenu .link .icon {
	width:100px;
	height:100px;
	margin:0 auto;
}
#secondaryMenu .link .icon#story {
	background:url(../images/storyIcon.png) no-repeat center;
}

#secondaryMenu .link .icon#cleanWater {
	background:url(../images/cleanWaterIcon.png) no-repeat center;
}

#secondaryMenu .link .icon#thankyou {
	background:url(../images/ThankYouIcon.png) no-repeat center;
}
#secondaryMenu .link .icon#OurTeam {
	background:url(../images/OurTeam.png) no-repeat center;
}
#secondaryMenu .link .icon#Contact {
	background:url(../images/Contact.png) no-repeat center;
}
#secondaryMenu .link .icon#FAQ {
	background:url(../images/FAQ.png) no-repeat center;
}
#secondaryMenu .link .icon#Warranty {
	background:url(../images/Warranty.png) no-repeat center;
}



#logoImage {
	width:200px;
}




.emailUpdates {
	bottom:0px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	
}

.entryText {
	text-align:center;
	padding:30px 0px;
	font-family: 'AnodyneCombined';
	color:#40aadd;
	font-size: 40px;

}

.pageContent {
	background:white;
	padding-top:40px;
	min-height: 90%;
	height: auto !important;
	margin: 0 auto -160px;
}
.push {
	height:120px;
}



.ImageContainer{
	width: 55%;	
	margin-left: 60px;
}



.ourPartners {
	text-align:center;
	margin-top:20px;
	padding-bottom: 30px;
}
.sponsorsSlideShow {
	position:relative; 
	height: 310px;
}
.sponsorsList li {
	list-style-type: none;
	position: absolute;
	text-align:center;
	margin:0 auto;
	width: 100%;
}
.sponsorsList li img {
	height: 80px;
	margin: 0px 10px 30px 20px;
}
#leftSlideShowArrow {
	background:url(../images/leftSlideShowArrow.png) no-repeat center;
	width:24px;
	height:36px;
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-18px
}
#rightSlideShowArrow {
	background:url(../images/rightSlideShowArrow.png) no-repeat center;
	width:24px;
	height:36px;
	position:absolute;
	right:0px;
	top:50%;
	margin-top:-18px
}

#pageContent {
	padding-top:20px;
}
.comingSoonContent {
	padding-bottom:400px;
}

/*----------------input/textarea boxes---------------*/

input[type="submit"] {
	cursor:pointer;
	border:none;
	color: white;
	background:#40aadd;
	font-family: arial;
	font-size: 16px;
	padding: 7px 10px;
	-webkit-appearance: none;
	font-family: 'museo_sans500';
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

input[type="submit"]:hover {
	background: #217CA8;
}

input[type="text"], input[type="password"], textarea {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #cccccc;
	height: 30px;
	padding-left: 8px;
	transition: box-shadow .15s ease;
	-moz-transition: box-shadow .15s ease;
	-ms-transition: box-shadow .15s ease;
	-webkit-transition: box-shadow .15s ease;
	font-size: 16px;
	font-family: Arial;
	font-weight: 100;
}
:focus {
	outline:none;
}

input[type="text"]:focus, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:active, textarea:focus, textarea:active {
    border-color: #a0a0a0;
    box-shadow: 0 0 0 2px rgba(161, 161, 161, 0.25); 
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
	border-color: #a0a0a0;
    box-shadow: 0 0 0 2px rgba(161, 161, 161, 0.25);
}
#responsiveMenu {
	display:none;
	background: #40aadd;
padding: 15px 0px;
color: white;
text-align:center;
position:relative;
}
.responsiveMenu {
	text-align: left;
	display:none;
}
.responsiveMenu div {
	padding:15px;
	border-bottom: 1px solid #efedee;
	font-family: 'museo_sans500';
}
.responsiveMenu .subMenu {
	padding: 0px;
	
}
.responsiveMenu .arrow {
  background: url(../images/menuArrow.png) no-repeat center;
  position: absolute;
  width: 35px;
  height: 35px;
  padding: 0px;
  border-bottom: none;
  background-size: 20px 20px;
  left: 5px;
  top: 55px;
}
.responsiveMenu .subMenu .link {
	  margin-left: 40px;
}
.responsiveMenu .dropDownArrow {
	position: absolute;
	background: url(../images/mobileDropDown.png) no-repeat center;
	height: 31px;
	width: 50px;
	padding: 0px;
	right: 10px;
	top: 8px;
	border-bottom: none;
}
.responsiveMenu .subMenu a:link, .responsiveMenu .subMenu a:visited  {
	color: #9c9c9c;
	text-decoration:none;
}
.responsiveMenu .subMenu div {
	color: #9c9c9c;
}
.responsiveMenu a:link, .responsiveMenu a:visited {
	font-family: 'museo_sans500';
	color:#9c9c9c;
}
.credits {
	background: #f4f4f4; padding:15px 0px; font-family: 'museo_sans500';
}
.footerLinks {
	display:table;
	margin:0 auto;
	padding: 15px 0px;
}
.footerLinks .link {
	float:left;
	margin: 0px 30px;
}

.ConnectSection {
	display:table; margin: 0 auto;
}
footer .socialLinks {
	float:right;
}
footer .socialLinks input[type='text'] {
	width:200px;
}
footer .socialLinks input[type='submit'] {
	width: 75px;
    letter-spacing: 0px;
    padding: 7px 10px;
}
footer .footerContent {
	padding:20px 0px;
}
footer .socialLinks .header, footer .supportLink .header, footer .feedBack .header {
	font-family: 'museo_sans500';
	font-size:26px;
	color: #9c9c9c;
	margin-bottom: 10px;
}
footer .supportLink {
	float:left;
	margin-right:40px;
}
footer .link {
	margin-top: 15px;
}
footer .link.emailLink {
	margin-top:10px;
	margin-bottom:20px;
}
footer .feedBack {
	float:left;
	width:320px;
}
footer .feedBack .text {
	margin-bottom:20px;
}

.contentWrapper {margin-bottom:30px; clear:both;}
.emailSignup {
	float:left;
	margin-top: 7px;
}


.creditYear {
	float:left;
}
.creditDeveloped {
	float:right;
}
a.emailUpdates:link, a.emailUpdates:visited {
	background: #40aadd;
	padding: 8px;
	color: white !important;
	text-decoration: none;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	font-family: 'museo_sans500';
}
a.emailUpdates:hover {
	background: #217CA8;
}

.productCard .priceInfo .header {
	font-size: 24px;
	  font-family: 'MuseoSans900';
}










.whiteEmailContainerCart .Header {
	float:left;
}
.clearCartButton {
	float:right;
}




.cartProductLine {
	padding:10px 0px 0px 0px; border-top: 1px solid #f4f4f4;
	margin-bottom: 10px;
}

.cartProductLine .pricing {
	float:right;
	padding-right:10px;
	font-size: 25px;
	color: black;
	margin-top: 50px;
}
.cartProductLine .productInfo {
	height: 120px;	
}


.cartProductLine .productInfo, .cartProductLine .productInfo .image, .cartProductLine .productInfo .info {
	float:left
}
.tdImage {
	width:170px; padding-right:30px;text-align:center;border-top: 1px solid #f4f4f4; padding-top:10px;
}
.cartProductLine .productInfo .image {
	width:150px;
	text-align:center;
	height: 100%;
	
}

.cartProductLine .productInfo .info {
	margin-left: 10px;
	margin-top: 20px;
}
.deleteItem {
	background:url(../images/deleteItem.png) no-repeat center;
	width:20px;
	height:20px;
}
.deleteItem:hover {
	background:url(../images/deleteItemOver.png) no-repeat center;
}
.mobileQuantity, .mobileColor {
	display:none;
}
.salesTaxInfo {
	font-size:16px; text-align:right;padding-top: 10px; color: black;
}
.tableCartItem {
	width:100%; border-collapse:collapse;
}
.checkOutButton {

	color:black;
	font-size:20px;
}
.yourCartButton, .checkOutButton {
background: #40AADD;
font-size: 16px;
padding: 4px 10px;
color: white;
float: left;
}
.yourCartButton {
	margin-top: -7px;
	display:none;	
}

.mapCleanWaterIcon {
	background: url(../images/mapIconCleanWater.png) no-repeat center;
	width: 500px;
	height: 500px;
	position: absolute;
    top: 130px;
    left: 50%;
    margin-left: -250px;
}
.bottleToWater {
	background: url(../images/bottleToWater.png) no-repeat center;
	width: 500px;
	height: 500px;
	position: absolute;
    bottom: 330px;
    left: 50%;
    margin-left: -250px;
}
.checkoutSection {
	display:none;
	margin-top: 25px;
}



.homePageWrapper {margin-top:30px;}
.pageName {
	background: #c1e8fb;
} 
/*----------------input/textarea boxes---------------*/

@media screen and (max-width: 1200px) {
	.wrapper{width:1024px;}
	.mainMenuLink {width:20%}
	
	.ImageContainer {width: 50%; margin-left: 10px;}
	
}
@media screen and (max-width: 1100px) {
	.wrapper{width:900px;}
	.mainMenuLink {width:18.5%; padding: 40px 0px;}
	.whiteEmailContainerCart{width: 800px;}
}

@media screen and (max-width: 960px) {
	.wrapper{width: 800px;}
	.mainMenuLink {width: 150px; padding: 40px 0px;}
	.mainMenuLink a:link {font-size:12px;}
	.ImageContainer {width: 50%; margin-left: 0px;}
	.whiteEmailContainerCart{width: 670px;}
	footer .footerContent {padding:20px 20px 30px 20px;}
	footer .socialLinks, footer .supportLink, footer .feedBack {float:none; width:100%;}
	footer .supportLink {margin-top:15px; border-top: 1px solid #f4f4f4; padding-top:15px;}
	ul.productULContainer li {width:47%;}
	footer .feedBack {margin-top: 15px; margin-bottom: 50px;}	    
}
@media screen and (max-width: 820px) {
	.homePageWrapper {margin-top:0px;}
	.OurStorySection {font-size: 24px; padding: 40px 10px 50px 10px;}

	.OurStorySection a.ourStoryLink:link, .OurStorySection a.ourStoryLink:visited {padding: 10px 35px 10px 37px; font-size: 20px;}
	
	.wrapper{width: auto;}
	.mainMenuLink {display:none;}
	#logo {width:100%}

	.entryText, h1, h2, .latestProductsSection h1 {font-size:30px;}
	.NadaOrdinaryBottleLinks, .purchaseLinks {display:none;}
	#responsiveMenu{display:block}
	header {position:static}
	.push{height:0px;}
	.contactText p, .textContainer, .contentContainer p, 
	.credits, .whiteEmailContainer {font-size:16px;}
	
	.pageContent {padding-top:15px; margin: 0 auto; min-height: 0%;}
	.ourPartners {display:none;}
	.contentWrapper {padding:0px 15px;}
	
	
	.videoContainer {display: table; margin: 0 auto; padding: 0px; width: 100%;}
	.locateLifeSectionHeader {margin-bottom:0px;}
	.creditYear {float:none; padding:0px 0px 10px 0px; text-align: center;}
	.creditDeveloped {float:none; text-align: center;}
	.whiteEmailContainer {width: auto; margin: 15px 15px 0 15px;}
	footer .supportLink .link {float:none;   margin-top: 20px;}
	#slideShow .slidesjs-previous {margin-left:5px;}
	.slidesjs-pagination {
		margin-right:5px !important;
	}
}
@media screen and (max-width: 760px) {
	.whiteEmailContainerCart{width: 530px;}
}
@media screen and (max-width: 625px) {
	.deleteHeader, .deleteHeaderItem {display:none;}
	.mobileQuantity, .mobileColor {display:block}
	.quantityText, .colorChoicesDropDown {display:none;}
	.whiteEmailContainerCart {width: 400px;}
	.mapCleanWaterIcon, .bottleToWater {display:none;}
}
@media screen and (max-width: 480px) {
	footer .socialLinks input[type='text'] {
		width:100%; padding-left:0px; margin-bottom:10px;
	}
	.OurStorySection {font-size: 20px; padding: 40px 10px 50px 10px;}

	.OurStorySection a.ourStoryLink:link, .OurStorySection a.ourStoryLink:visited {padding: 10px 35px 10px 37px; font-size: 20px;}
	.entryText {padding: 15px;}
	.credits {text-align:center; font-size:12px;}
	#logo {margin: 20px 0;}
	.footerLinks {text-align:center;}
	.footerLinks .link {float: none; margin: 10px 0px;}
	.ConnectSection .socialLinks {float: none; margin-right: 0px; margin-bottom: 10px;}
	.whiteEmailContainerCart td {font-size: 12px;}
	ul.productULContainer li {width: 100%; list-style-type: none; display:block;   margin-bottom: 4%; text-align: center;}
	footer .footerContent {padding:20px;}
	input[type="text"] {width: 100%; padding: 0px;}
	
}



