* {margin:0; padding:0;}
.ThankYouContainer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
h1 {color:#40aadd; font-family: 'MuseoSans900'; font-size: 40px;}
p {color:black;   font-family: 'museo_sans500'; font-size:16px;}
.centeredContent {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-286px;
	margin-top:-125.5px;
}
@media screen and (max-width: 575px) {
	.centeredContent {margin-top:-148px;}
	
}
@media screen and (max-width: 510px) {
	h1 {font-size: 24px;}
	p {font-size:14px;}
	.centeredContent {margin-top:-100px; margin-left:-198.5px;}
}
@media screen and (max-width: 480px) {
	.centeredContent {width: 250px; margin-left:-125px; margin-top:-127.5px;}
	.ThankYouContainer {min-width:260px; min-height:260px}
}
