.message {
	padding-bottom:5px;
}
#ajaxImage {
	margin-top:20px !important;
}

.warrantySubmitForm {border-top:1px solid #f4f4f4; padding-top:30px;}
.warrantySubmitForm h1 {font-size:26px;     font-family: 'museo_sans500';}
.warrantySubmitForm .steps {margin-bottom:50px;}
.warrantySubmitForm .userInfo {width:100%; clear:both}

.warrantySubmitForm input[type='text'] {padding-left:0px;}
.warrantySubmitForm textarea {width:100%; padding:0px; min-height:200px; min-width:100%; max-width:100%; margin-top:15px;}
.warrantySubmitForm .userInfo {
	margin-top:15px;
}
.warrantySubmitForm .userInfoSection {color:#9c9c9c; margin-bottom:20px; font-size:20px;}

.warrantySubmitForm .userInfo .left {float:left; width:49%;     box-sizing: border-box;}
.warrantySubmitForm .userInfo .right {float:right; width:49%;     box-sizing: border-box;}
.warrantySubmitForm .userInfo .third {float:left; width:32%;     box-sizing: border-box;}
.warrantySubmitForm .userInfo .marginRight {margin-right:15px;}
.warrantySubmitForm .userInfo .line {margin-bottom: 15px;}
.warrantySubmitForm .userInfo .label {margin-bottom:5px;}
.warrantySubmitForm select {
	font-size: 12px;
    font-family: arial;
    padding: 1px;
    border-radius: 2px;
    height: 32px;
    background: white;
    width:100%;
    box-sizing: border-box;
}
.warrantySubmitForm .descriptionText {color: #9c9c9c; line-height: 28px;}
.companyName {font-size:24px; color:black}
    
.warrantyBtn {color:black !important; background:white !important; border: 1px solid #c9c9c9 !important; text-decoration:none; border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; padding: 7px 10px;}
.warrantyBtn:hover {background: #E7E7E7 !important;}


input[type='text'] {
	width:100%;
}
.ajaxLoadingIndicator {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -8px;	
    margin-top:-8px;
    display:none;
}
.ajaxLoadingIndicator img {}

.mysqlerrorPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    padding: 15px;
    color: #c30000;
    margin-left: -225px;
    margin-top:-24px;
    box-shadow: 0px 3px 2px #CACACA;
    -webkit-box-shadow: 0px 3px 2px #CACACA;
    -moz-box-shadow: 0px 3px 2px #CACACA;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    display:none;
}

.warrantyBulletPoints {
	
	list-style: none;
	margin-left: 0px !important;
}
.warrantyBulletPoints li {
    color: black;
    padding-left: 1em;
    text-indent: -.7em;
    margin: 10px 0px;
    line-height: 22px;
    padding-bottom: 10px;
}

.warrantyBulletPoints li:before {
	content: "• ";
    color: #9c9c9c; /* or whatever color you prefer */
}
.inputFileLine {
	margin-top:15px;
	height:30px
}
.fileInput {
	float:left; width:250px;margin-top: 6px;
}
.removePhoto {
	background: url(../images/deleteItem.png) no-repeat 7px 7px;
    float: left;
    color: #c30000;
    padding: 5px 10px 5px 27px;
    border: 1px solid #c9c9c9 !important;
    border-radius: 3px;
    display:none;
}
.removePhoto:hover {
	background: #E7E7E7 url(../images/deleteItem.png) no-repeat 7px 7px;
}
@media screen and (max-width: 1024px) {
	

}
@media screen and (max-width: 820px) {
	.warrantySubmitForm {padding: 30px 15px 0px 15px;}
	.warrantySubmitForm .userInfo .third {float:none; width:100%; margin-top: 15px;}
	.warrantySubmitForm .userInfo .marginRight {margin-right:0px;}
	.warrantySubmitForm h1 {font-size:20px !important;}
}

@media screen and (max-width: 760px) {
	
}

@media screen and (max-width: 625px) {

	
}

@media screen and (max-width: 480px) {
	.fileInput, .removePhoto {
		float:none;
	}
	.removePhoto {margin-top:5px;}
	.inputFileLine {height:auto; margin-top:5px; padding:15px 0px 0px 0px;}
}