body {
	font-family:arial; font-size:16px;
}
.warranty {
	width:450px; margin:20px auto 0 auto;
}
.warrantyPrintHeader {
	font-size:24px; font-weight:bold;color: #40aadd;
}
.warrantySection  {
	margin-bottom:20px;
}
.secondaryHeader {
	font-size:20px; font-weight:bold;
}
.warrantyBulletPoints {
	
	list-style: none;
	padding-left: 0px;
    margin: 0px;
}
.warrantyBulletPoints li {
    color: black;
    padding-left: 1em;
    text-indent: -.7em;
    margin: 10px 0px;
    padding-bottom: 10px;
    font-size: 11px;
}

.warrantyBulletPoints li:before {
	content: "• ";
    color: #9c9c9c; /* or whatever color you prefer */
}
.pageWrapper {
	position:absolute; left:0px; right:0px; bottom:0px; top:0px; min-width:560px
}
.warrantyPrintButton {
	position:absolute; right:10px; top:10px;
}
@media print {
	.warrantyPrintButton {
		display:none
	}
}
