body {
	font-family: 'museo_sans500';
}
.errorHeader {
	text-align:center;
	padding:10px 0px;
}
.errorHeader img {
	margin-bottom:10px;
}
h1 {font-family: 'MuseoSans900'; font-size: 40px;}
.errorText {
	
}
.formContainer {margin-top:20px;}
.inputLine {
	width:100%; margin-bottom:15px;
}
.inputLine .label {
	margin-bottom:5px;
}


.error-input-row {
	margin-bottom:5px;
}

.inputLine input[type='text'] {
	width:100%;
}

.message.error {
	background:white; padding:0px; color:#c30000; font-family: 'museo_sans500'; text-align:left; border:none; font-size:16px; padding-top: 11px;
}
.message.success {
	background:white; padding:0px; color:#45A128; font-family: 'museo_sans500'; text-align:left; border:none; font-size:16px; padding-top: 11px;
}


textarea {
	height:80px;
	max-height:80px;
	min-height:60px;
	min-width:100%;
	width:100%	
}

@media screen and (max-width:680px) {
	textarea, .inputLine input[type='text'] {
		padding-left:0px;
	}	
	input[type='submit'] {
		width:100%
	}
}


