.dateHeader {padding:0px 0px 10px 0px !important}
.dateHeader .text {position:relative; background:#f7f7f7 !important}
.dateHeader .line {z-index:0 !important; top: 33% !important;}

.webHookEvent {padding:10px 0px}
.webHookEvent .title {font-size:12px; font-weight:bold}
.webHookEvent table {margin-top:5px;}
.webHookEvent table a:link, .webHookEvent table a:visited {color:#2a2a2a}
.webHookEvent table td {padding-bottom:5px;}

.LoggingContentContainer {
	background:#f7f7f7;
	height:500px;
	overflow-y:scroll;
	border:1px solid #cecece;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	font-size: 12px;
	padding: 10px;
	    word-wrap: break-word;
}
.logBreadCrumb {
	border-bottom: 1px solid #EFEFEF; padding: 10px 0px; color: #9c9c9c;  margin-bottom: 10px;
}
.logBreadCrumb a:link, .logBreadCrumb a:visited {
	color: #9c9c9c;	
}
.logBreadCrumb span {
	margin: 0 10px;
}
.webHookElement {
	border-bottom: 1px solid #cecece;
	padding: 10px 0px;
}

@media screen and (max-width: 680px) {
	.LoggingContentContainer {
		height:auto;
	}
}
