body {
	color:#2a2a2a;
	
}
.login-box {
	position:absolute;
	left:50%;
	top:50%;
	width: 325px;
	margin-left:-162.5px;
	margin-top:-167.5px;
}

.login-input-section {
	border:1px solid #d9d9d9;
	background:white;
	box-shadow: 0px 3px 30px #D3D3D3;
	-webkit-box-shadow: 0px 3px 30px #D3D3D3;
	-moz-box-shadow: 0px 3px 30px #D3D3D3;
	-ms-box-shadow: 0px 3px 30px #D3D3D3;
}

.loginHeader {
	font-size:24px;
}
.padding {
	padding:10px 10px 10px 15px; 
}
.login-label {
	font-size:16px;
	margin-bottom:5px;
}
a.forgotCredentials:link, a.forgotCredentials:visited {
	color:#2a2a2a;
	text-decoration:none;
}
a.forgotCredentials:visited {
	text-decoration:underline
}
a.backToLogin:link {
	color:white;
	background:#0cc82b;
	padding:7px;
	text-decoration:none;
	transition: background ease .25s;
	-webkit-transition: background ease .25s;
	-moz-transition: background ease .25s;
}
a.backToLogin:hover {
	background: #099B21;
	padding:7px;
}
a.backToLogin:visited {
	color:white;
	background:#0cc82b;
	padding:7px;
}
input[type="submit"] {
	cursor: pointer;
	border: none;
	color: white;
	background: #40aadd;
	font-family: arial;
	font-size: 16px;
	padding: 7px 10px;
}

input[type="submit"]:hover {
	background: #217CA8;
}
.divider {
	border-bottom: 1px solid #d9d9d9;
}
.forgotLinkSection {
	float:left;
	margin-top:5px;
}
.forgotLinkSection a:link, .forgotLinkSection a:visited, .backToLogin a:link, .backToLogin a:visited {
	font-size:16px;
	color:#2a2a2a;
	font-family:Helvetica;
}
input[type='text'], input[type='password'] {
	width: 280px;
}
.loadingForm {
	margin-right:5px; margin-top:5px; display:none;
}
.loadingForm, .inputButton {
	float:left;
}
.loginButtonSection {
	float:right
}
.resetPasswordButton, .loadingForgotPasswordForm {
	float:left;
}
.loadingForgotPasswordForm {
	margin-left:5px; margin-top:5px; display:none;
}
.backToLogin {
	float:right;
	margin-top:5px;
}
	
@media screen and (max-width: 480px) {
	.login-box {position:static; margin-left: 0px; margin-top: 0px; width: auto; left:0px; top:0px;}
	input[type='text'], input[type='password'] {width: 100%; padding-left: 0px;}
	.login-input-section {box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; border-bottom:none; border-left:none; border-right:none;}
	.login-box {margin-top:10px;}
	input[type="text"], input[type="password"] {padding-left:0px !important;}
	.padding {padding:10px 15px;}
	.loadingForm {
		float:none;
	}
	.forgotLinkSection {
		margin-bottom:5px;    margin-bottom: 15px;
    text-align: center;
    float: none;
	}
	.loadingForm, .loadingForgotPasswordForm {
		margin-bottom:5px;
	}
	.loginButtonSection, .loadingForm, .inputButton, .resetPasswordButton, .loadingForgotPasswordForm, .forgotLinkSection, .backToLogin {
		float:none; width:100%; clear:both; text-align:center;
	}
	.forgotLinkSection, .backToLogin {
		margin-top:15px;
	}
}


