.adminContent .header {
	font-size:16px !important;
}

.section {
    padding: 10px 0px;
    font-size: 12px;
    margin-top:10px;
    border-top: 1px solid #cecece;
}
.section .sectionHeader {
    font-size: 20px;
    margin-bottom: 15px;
}
.section .inputLine .permissionsLable {
    font-weight: bold;
    margin-bottom: 5px;
}
.section .inputLine .radioInput {
    margin-bottom: 5px;
}
.section .inputLine .radioInput input[type='radio'] {
    margin-right: 5px;
}
.submitButton, .loadingCategory {float:left;}
.loadingCategory {margin-top:3px; margin-left:5px; display:none;}
.deletePhotoButton {
	float:left;
}


@media screen and (max-width:680px) {
	input[type='text'], input[type='submit'] {
		width:100%; padding-left:0px !important;
	}
	.submitButton, .loadingCategory {float:none;}
	.loadingCategory {margin-top: 15px;
    text-align: center;
    margin-left: 0px;}
    .deletePhotoButton {
    	float:none;
    }
}