.categoryDropDown {
	margin:20px 0px;
}
.categoryDropDown select {
	width:100%
}
.adminContent .header {
	  border-bottom: 1px solid #cecece;
}
.adminContent .header .category {float:left; margin-top: 12px; font-size:16px;}
.adminContent .header .newProductbutton {float:right}


.addProductPopup {
	position: fixed;
	top: 50%;
	left: 50%;
	background: white;
	z-index: 2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-left: -310px;
	  margin-top: -209px;
	display:none;
	width: 620px;
}

.addProductPopup .header {
	font-size: 20px;
	border-bottom: 1px solid #cecece;
	padding: 10px;
}
.addProductPopup .label {
	font-size: 16px;
	float: left;
	width: 70px;
}
.addProductPopup .hyperlinkContainer {
	background: #eee;
	float: left;
	font-size: 12px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 8px 5px;
	margin-right: -1px;
	border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
}
.nadaBasicProduct {
	width: 240px;
	height: 95px;
}
.productItem {
	border-bottom: 1px solid #efedee;
	padding: 10px 0px 10px 0px;
}
.productItem table td a:link, .productItem table td a:visited {
	color: #2a2a2a;
}

.emptyImage {
	width: 100px !important;
  height: 60px !important;
  font-size: 12px !important;
  padding: 40px 0px 0px 0px !important;
}
.priceData {
	width:80px
}
.imageTD {
	width:100px; padding-right:10px;
}
@media screen and (max-width:680px) {
	.OrderInformation .info .statusSection, .OrderInformation .info .purchaseInfo {float:none;}
	.OrderInformation .info .purchaseInfo {margin-top:20px;} 
	a.OrderLink:link, .voidedText {font-size:16px}
	.adminContent .header .category,.adminContent .header .newProductbutton  {float:none;}
	.greenButton {text-align:center; margin-top:10px;}
	.priceData, .imageTD {display:none;}
}
