.adminContent .header {
	border-bottom: 1px solid #cecece;	
}
.adminContent .header .text {
	font-size:16px !important;	
	float:left;
	margin-top: 7px;
}
.adminContent .header .newLink {
	float:right;
}

.categoryLine {
	border-bottom: 1px solid #EDEDED;
	 padding: 15px 10px;
	position:relative;
	background:white;
	cursor:ns-resize
}
.categoryLine a:link, .categoryLine a:visited {
	color:black;
}
.categoryLine .name {
	float:left;   margin-left: 20px;
}
.categoryLine .editDelete {
	float:right;
}
.categoryLine .editDelete .edit {
	background: url(../../images/pencil.png) no-repeat center;
	width: 30px;
	height: 15px;
	background-size: 15px 15px;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	right: 50px;
}

.categoryLine .editDelete .delete {
	background: url(../../images/deleteCategory.png) no-repeat center;
	width: 30px;
	height: 15px;
	background-size: 15px 15px;
	position: absolute;
	top: 50%;
	  margin-top: -17.5px;
	right: 10px;
}
.categoryLine .dragIcon {
	background: url(../../images/upDownIndicator.png) no-repeat center;
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	left: 5px;
}

.editForm {
	display:none;
}

.mobileCategoryName {display:none}
.submitButton, .loadingCategoryList {float:left;}

.loadingCategoryList {
	margin-top: 5px;
    margin-left: 6px;
    display: none;
}




@media screen and (max-width:680px) {
	.blueButton, .greenButton {width:100%; text-align:center;}
	.desktopCategoryName {display:none;}
	.mobileCategoryName {display:block}
	.adminContent .header .text, .adminContent .header .newLink {float:none;}
	.adminContent .header .newLink {margin-top:5px;}
	
	#categoryList {
		margin-bottom:50px;
	}
	.submitButton, .loadingCategoryList {
		float:none;
	}
	
	.loadingCategoryList {
		text-align:center; width:100%; margin-left:0px;
	}
	
}