.contactLine {
	padding:10px; position:relative;
}
.indicator {
	border-bottom: 1px solid #F3F3F3;
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
}
.checkboxContainer {
    float: left;
    padding-right: 10px;
    background: white;
    position: relative;	
}
.contactName {
	padding-right: 10px;
    background: white;
    position: relative;
}

.adminContent .line .header {
	 font-size:16px !important;
	 float:left
}
.adminContent .line .button {
	float:right;
}

.contactContent {
	float:right;
	padding-left: 10px;
    background: white;
    position: relative;
}
@media screen and (max-width:680px) {
	.adminContent .line .button, .adminContent .line .header {float:none;}
	.button {margin-bottom:10px;}
	.indicator {display:none;}
	.contactContent {float: none; margin-top: 35px; margin-left: 22px; padding-left:0px;}
}