.adminContent .header {
  border-bottom: 1px solid #cecece;
  font-size:16px !important;
}
.widget {
	width:100%;
}
.widget .content {
	overflow-y:scroll;
	max-height:200px;
}
	
.left {
	float:left
}
.right {
	float:right;
}
.widget table {width:100%}
.widget table td {padding:5px 0px; border-bottom:1px solid #f7f7f7}
.widget table td a:link, .widget table td a:visited {color:#2a2a2a !important}
.moreButton {
	margin-top:15px; padding-top:0px;
}
.moreButton a:link {
	text-decoration:none;
}

.moreButton a:link .whiteButton{
	text-align:center
}
.WidgetLine {
	margin-top:20px;
}
@media screen and (max-width:680px) {
 .widget {width:100%; margin-bottom:10px;
 }
 .right, .left {float:none}
 .widget .content {height:auto; overflow:auto}
 .WidgetLine {margin-top:0px;}
}
