.contactLine {
	padding:10px;
}
.line {
	border-bottom: 1px solid #cecece;
}
.adminContent .line .header {
	 font-size:16px !important;
	 float:left
}
.adminContent .line .button {
	float:right;
}

.contactContent {float:right}
@media screen and (max-width:680px) {
	.adminContent .line .button, .adminContent .line .header {float:none;}
	.button {margin-bottom:10px;}
	
	.contactContent {float: none; margin-top: 35px; margin-left: 22px;}
}