.section {
    padding: 10px 0px 30px 0px;
    font-size: 12px;

}

.section .sectionHeader {
    font-size: 20px;
    margin-bottom: 15px;
}
.contentWrapper .section {
    border-top: none !important;
 
}
@media screen and (max-width:680px) {
	
}