#InventorySection .inventoryList {margin-top:20px;}
#InventorySection .inventoryList table {width:100%}
#InventorySection .inventoryList .colorBox {width:25px; height:25px; float:left;}
#InventorySection .inventoryList .colorLine {border-bottom: 1px solid #e9e9e9; width:100%; clear:both; padding:5px 0px;}
#InventorySection .inventoryList .header {width:100%; clear:both; padding: 5px 0px;}
#InventorySection .inventoryList .columnHeader {padding:5px 0px; font-weight:bold; float:left;} 
#InventorySection .inventoryList .colorColumn {width:30%; float: left;} 
#InventorySection .inventoryList .stockColumn {float:right; width:120px;}
#InventorySection .inventoryList .stockColumnElement input[type='text'] {width: 100px;margin-right: 10px;}
#InventorySection .inventoryList .colorName {font-weight:normal; float:left; margin-top: 5px; margin-left: 5px;}
#InventorySection .inventoryList .colorColumn {padding:4px 0px;}
#InventorySection .inventoryList .stockColumn.columnHeader{width: 320px;}
#InventorySection .inventoryList .mobileHeader {font-weight:bold; margin-bottom:10px; display:none;}
#InventorySection .inventoryList .stockFormElement {float:right;width: 330px;}
#InventorySection .inventoryList .colorElements {float:left;}
#InventorySection .inventoryList .updateButton, #InventorySection .inventoryList .stockColumnElement {float:left;}
#InventorySection .inventoryList .mobileColor {padding:7px 0px; font-weight:bold; color:white; text-align:center;}
#InventorySection .inventoryList .mobileColor {display:none; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;}
#InventorySection .inventoryList .ajaxButtonContainer {float:right}
#InventorySection .inventoryList .OutOfStockMessage {float:left; width:100px; font-weight:bold; color:#c30000; margin-top: 10px;}
#InventorySection .inventoryList .ajaxReloader {float:left; margin-top: 6px; margin-right:5px; display:none;}

@media screen and (max-width:680px) {
	#InventorySection .inventoryList .header {display:none;}
	#InventorySection .inventoryList .mobileHeader {display:block !important}	
	#InventorySection .inventoryList .colorColumn {width:100%; float:none;    margin-bottom: 10px;}
	#InventorySection .inventoryList .stockFormElement {float:none; width: 100%; clear: both;}
	#InventorySection .inventoryList .stockColumnElement input[type='text'] {width:100%;}
	#InventorySection .inventoryList .updateButton, #InventorySection .inventoryList .stockColumnElement {float:none; width:100%}
	#InventorySection .inventoryList .updateButton .whiteButton {width:100%}
	#InventorySection .inventoryList .hideMobile {display:none;}
	#InventorySection .inventoryList .mobileColor {display:block;}
	#InventorySection .inventoryList .OutOfStockMessage {float:none; width:100%;}
	#InventorySection .inventoryList .ajaxReloader {float:none; margin-top: 6px; margin-right:0px; text-align:center; margin-bottom:5px;}
	#InventorySection .inventoryList .ajaxButtonContainer {float:none}

}