.adminContent .header {
  border-bottom: 1px solid #cecece;
}
table.LocateLifeList {
	border-collapse:collapse; margin-top:10px;
}
a.newLocaion:link {
	  cursor: pointer;
  border: none;
  color: white;
  background: #04B32E;
  font-family: arial;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  padding: 7px 10px;

}
.openNewLocationPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  width: 270px;
  z-index: 2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-left: -135px;
  margin-top: -139.5px;
  display:none
 }
 
 .openNewLocationPopup .header {
  font-size: 20px;
  border-bottom: 1px solid #cecece;
  padding: 10px;
}
input[type='text'] {
	width:240px;
}
.buttonHolder, .loadLocation {
	float:left;
}

.locationImagePreview {
	background-size: cover !important;
    background-position: 50% 50% !important;
	height: 260px;
    margin-bottom: 10px;
}

.loadLocation {margin-top:5px; margin-left:5px; display:none;}
@media screen and (max-width:680px) {
	input[type='text'] {width:100%; padding-left:0px !important;}
	.buttonHolder, .loadLocation {float:none;}
	.loadLocation {text-align:center; margin-top:10px;}
}
