.adminContent {max-width:700px}
.adminContent .header .orderNumber {float:left; font-size: 20px; margin-top: 5px;}
.adminContent .header .voidButtonContainer {float:right; width: 240px;}
.adminContent .header .voidButtonContainer .redButton, .adminContent .header .voidButtonContainer .whiteButton {float:right;}


.finishBtn {float: right; margin-right: 10px;}

.green {color:#1ca201; font-weight:bold;}
.red {color:#c30000; font-weight:bold;}


.shipmentButton {
	float:left; margin-right:10px;
}
.shippingInfo {
	width:100%; clear:both;
}
.shippingInfo .line {
	margin-bottom:5px;
}
.shippingInfo .line .label {
	float:left; font-weight:bold; width:120px;
}
.shippingInfo .line .content {
	float:left;
}
.packingInfo {
	margin-top:20px;
}

.contentWrapper .section .statusLine {
	margin-bottom:10px;
}
.contentWrapper .section .statusLine .label {
	width:110px; font-weight:bold; font-size:12px; float: left;
}
.contentWrapper .section .statusLine .status {
	font-size:12px;
}
.orderItem {
	margin-bottom:10px;
}
.orderItemSection, .shippingAddressSection {float:left; width:290px;}
.receiptContainer {float:left}


.receiptButton {
	margin-bottom:10px;
}
#originalShippingLabel {display:none;}

#editShippingForm {
	display:none;
	margin-top:10px;
}
#changeStatusIndicator {
	font-style: italic; font-size: 12px; display:none;
}
.mobileDropdowns {
	margin:10px 0px 15px 0px;
	display:none;
}
.mobileDropdowns select {
	width:100%
}

.shippingAddress {margin-top:20px; position:relative;}
.shipButtonContainer {float:left;}
.cancel {margin-left:10px;}
.buttonHolder, .loadingShippingForm {float:left}
.loadingShippingForm {margin-top: 5px; margin-left: 5px; display:none;}

.newAddress {width: 244px;}
.newCity {width: 130px;}
.newState {width: 30px;}
.newZip {width: 55px;}
.changedShippingRate {display:none; margin-top:10px; font-style: normal; color: black;}

button {cursor:pointer;}
#AddressInvalid, #disputed {margin:15px 0px 35px 0px;}
#AddressInvalid ol, #disputed ul {margin-left: 16px; margin-top:10px; margin-bottom:10px;}
#disputed a:link, #disputed a:visited {text-decoration:underline; color:#404040}
.MapItButton, .editShippingAddressButton, .ApproveAddressButton {float:left;}
.disputeButton {float:left; margin-right:10px}
.unfinishedBtn {float:right;}

.MapItButton {margin-left:10px;}

/*.dateHeader {
	padding:0px 0px 10px 0px !important
}
.dateHeader .line {display:none;}
.dateHeader .text {
    background: white;
    margin: 0 !important;
    padding: 0 !important;
}
*/

.OrderMenu .link:hover, .OrderMenu .link.selected {
    background: #0378B0;
    color: white;
}

.OrderMenu .link, .OrderMenu .link:visited {
    float: left;
    padding: 10px;
    margin-right: 5px;
    color: #2a2a2a;
}

.webHookEvent {margin:7px 0px;}
.webHookEvent .label {float:left; width:120px;}
.paymentLine {color:#0378B0; font-weight:bold;}

.printLabelsSection, .trackPackagesSection {
	
	clear: both; padding: 10px; margin-top: 7px;
	display:none;
	border-radius:5px;
}
.printLabelsSection {
	border:1px solid #0090d5;
}
.trackPackagesSection {
	border:1px solid #2a2a2a;
}
.printLabelsSection .printHeader, .trackPackagesSection .printHeader {
	font-size:16px; margin-bottom: 5px;
}
.printLabelsSection .printHeader {
	color:#0090d5; 	
}

.printLabelBtn {
	border-top:1px solid #e4e4e4; 
	border-bottom:1px solid #e4e4e4; 
	border-right:1px solid #e4e4e4; 
	border-left:5px solid #0090d5; 
	padding:5px 10px; 
	color:#0090d5; 
	font-weight:bold;
}
.trackPackageBtn {
	border-top:1px solid #e4e4e4; 
	border-bottom:1px solid #e4e4e4; 
	border-right:1px solid #e4e4e4; 
	border-left:5px solid #2a2a2a; 
	padding:5px 10px; 
	color:#2a2a2a; 
	font-weight:bold;
}
.shipmentButton .arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    float: right;
    margin-top: 4px;
    margin-left: 7px;
}
.blueButton.shipmentButton.labelsExpanded .arrow {
	border-left: 6px solid transparent !important;
	border-right: 6px solid transparent !important;
	border-top: 0px !important;
	border-bottom: 6px solid white !important;
}
.whiteButton.shipmentButton .arrow {
	width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    float: right;
    margin-top: 4px;
    margin-left: 7px;
}
.whiteButton.shipmentButton.trackingExpanded .arrow {
	border-left: 6px solid transparent !important;
	border-right: 6px solid transparent !important;
	border-top: 0px !important;
	border-bottom: 6px solid black !important;
}
.printLabelBtn:hover, .trackPackageBtn:hover {
	background:#e4e4e4;
}
@media screen and (max-width:1050px) {
	.mobileDropdowns {
		display:block
	}
	#eCommerce {
		display:none;
	}
}
@media screen and (max-width:680px) {
	.finishBtn, .unfinishedBtn {float:none; margin-right:0px; text-align:center; margin-top:10px;}
	.adminContent .header .orderNumber {float:none;}
	.adminContent .header .voidButtonContainer {float:none; clear: both; margin-top:10px; width: 100%;}
	.adminContent .header .voidButtonContainer .redButton, .adminContent .header .voidButtonContainer .whiteButton {float:none; text-align:center;}
	.disputeButton {float:none; margin-right:0px; margin-bottom:5px;}
	.OrderInformation .info .statusSection, .OrderInformation .info .purchaseInfo {float:none;}
	.OrderInformation .info .purchaseInfo {margin-top:20px;} 
	a.OrderLink:link {font-size:16px}
	.receiptContainer {text-align:center;}
	.receiptContainer, .orderItemSection, .shipmentButton, .shippingAddressSection, .shipButtonContainer {float:none;}
	.shipmentButton {margin-bottom:5px; text-align:center; margin-right:0px;}
	.editShippingAddressButton {width:100%; text-align:center;}
	 .shippingAddressSection, .newShipButton, .cancel {width:100%}
	 .cancel {margin-top:10px; margin-left:0px;}
	 .newAddress, .newCity, .newState, .newZip {width:100%; padding-left:0px;}
	 .newCity, .newState {margin-bottom:10px; }
	 .buttonHolder, .loadingShippingForm, .ApproveAddressButton {float:none; width:100%}
	 .loadingShippingForm, .ApproveAddressButton {text-align:center;}
	 .MapItButton {margin-left:0px; margin-top:10px; width:100%; text-align:center; padding:7px 0px!important}
	 .editShippingAddressButton {margin-top:10px; padding:7px 0px!important}
}