.adminContent {
	max-width:700px
}
.adminContent .header {border-bottom:none;}

a.OrderLink:link, a.OrderLink:visited {
	font-size:20px;
	color:#0090d5;font-weight: normal; text-decoration:none;
}
a.OrderLink:hover {text-decoration:underline;}
.orderLink {padding:5px 0px;}
.OrderInformation {padding:10px 0px;}
.OrderInformation .info {font-size:12px; margin-top: 5px;}
.OrderInformation .info .statusSection {
	float:left; width:260px;
}
.OrderInformation .info .purchaseInfo {
	float:left;
}
.OrderInformation .info .line {
	margin-bottom:5px;
}
.green {
	color:#1ca201;
	font-weight:bold
}
.red {
	color:#c30000;
	font-weight:bold;
}
.OrderInformation .info .label {
	float:left; font-weight:bold; width:110px;
}

.ActionRequired {
	padding: 10px 0px;
    border: 1px solid #c30000;
    text-align: center;
    color: #c30000;
    font-size: 16px;
    margin-bottom: 10px;
    clear:both;
}
a.chngShipping:link, button.cancel {
	font-size:12px;
	cursor: pointer;
	border: none;
	color: white;
	background: #40aadd;
	font-family: arial;
	text-decoration:none;
	padding: 7px 10px;
}
a.chngShipping:hover, button.cancel:hover {
	background: #217CA8;
}
#editShippingForm {
	display:none;
	margin-top:10px;
}
#changeStatusIndicator {
	font-style: italic; font-size: 12px; display:none;
}
.mobileDropdowns {
	margin:10px 0px 15px 0px;
	display:none;
}
.voidedText {color:#c30000; font-size:20px;}

.filterSection .header {
	font-size:20px !important; color:#2a2a2a; font-weight:bold; display:none;
}
.filterSection .form {
	float:left; margin-top:13px; margin-left:15px;
}
.filterSection select {
	margin-bottom:15px; display: none;
}
.filterSection .submit {
	float:left; margin-top: -7px;
    margin-left: 10px;
}



@media screen and (max-width:680px) {
	.OrderInformation .info .statusSection, .OrderInformation .info .purchaseInfo {float:none;}
	.OrderInformation .info .purchaseInfo {margin-top:20px;} 
	a.OrderLink:link, .voidedText {font-size:16px}
	.filterSection select {width:100%; display: block;}
	.filterSection .linkContainer {display:none;}
	.filterSection .header {display:block;}
	.pagination-number {display:none}
	.pagination-right {float:right}
	.pagination-left {float:left}
}