.adminContent .header {font-size:16px !important;}
.PageMobileDropDown {display:none;}
.PageMobileDropDown select {width:100%}
.label {font-weight:bold; margin-bottom:10px;}

.headerInput {margin-bottom:10px; margin-top:20px;}
.headerInput input[type='text'] {padding-left:0px; width:100%}



