.adminContent .header {
	border-bottom:1px solid #cecece;
}

.parterList {
	width:100%; margin-top:15px; border-collapse:collapse;
}
.parterList tr.headers td {
	font-weight:bold
}
.parterList td {
	padding:5px;
}
.partnerImage {
	width:200px; padding-right:10px;
}

@media screen and (max-width:680px) { .partnerImage {display:none;}}
