.adminContent .header {
	border-bottom:1px solid #cecece;
}
.PartnerForm  {margin-top:15px;}
.PartnerForm .inputLine {margin-bottom:10px;}
.PartnerForm .inputLine .label {font-weight:bold; margin-bottom:5px;}

.headerContainer {
	float:left; font-size:16px; padding-top:12px;
}
.publish {margin-left:10px;}
.publishUnpublishButton, .deleteButton {
	float:right
}
@media screen and (max-width:680px) {
	.publish {float:none; text-align:center;}
	.publishUnpublishButton, .deleteButton, .headerContainer {
	float:none}
	.publish {margin-left:0px; margin:10px 0px}
	input[type="submit"] {width:100%}
}


