.adminContent .header {
	
}
.adminContent .header .headerText {
	font-size:16px !important;
	float:left;
	margin-top: 10px;
}

.adminContent .header .buttonContainer {
	float:right;
}
.adminContent .header .buttonContainer .publishUnpublishContainer, .adminContent .header .buttonContainer .deleteContainer {
	float:left;
}

.whiteButton {margin-right:10px}
.contentWrapper .section {
  padding: 10px 0px;
  font-size: 12px;
  border-top: 1px solid #cecece;
}
.contentWrapper .section .label {
	font-weight:bold; margin-bottom:5px; 
	
}
.contentWrapper .section .sectionHeader {
  font-size: 20px;
  margin-bottom: 15px;
}
.contentWrapper .section .inputLine {
	margin-bottom:10px;
}

input.normalInput[type='text'] {
	width:300px
}
#uploadProductColorsDesktop {
	border: 1px solid #0090d5;
	color: #0090d5;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	display: none;
	margin-bottom: 10px
}
  
#noImage {
  padding: 80px 0px 0px 0px !important;

  height: 120px;
} 
.colorElement {border: 1px solid #EDEDED; position:relative; float: left; margin-right: 10px; margin-bottom:10px;border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;}
.colorElement .colorBoxElement {width:30px; top:0px; bottom:0px; left:0px; position: absolute;
border-top-left-radius:4px;
-webkit-border-top-left-radius:4px;
-moz-border-top-left-radius:4px; 
-webkit-border-bottom-left-radius:4px; 
-moz-border-bottom-left-radius:4px;
border-bottom-left-radius:4px;
}
.colorElement .text {padding:10px 0px; margin-left:35px; float:left; margin-right:10px;}
.colorElement .text a:link, .colorElement .text a:visited {color:#2a2a2a}
.colorElement .deleteContainer {float:left; position:relative; border-left: 1px solid #EDEDED;}
.colorElement .delete {
	background: url(../../images/deleteCategory.png) no-repeat center;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
}
.colorElement .delete:hover {
	background: url(../../images/deleteCategory.png) no-repeat center;
	background-size: 15px 15px;
}


table.colorListTable td.colorBox 
table.colorListTable 
.productSubMenu {
	width:100%;
	margin: 10px 0px 20px 0px;
}
.productSubMenu .link, .productSubMenu .link:visited {
	float:left; padding:10px; margin-right:5px; color:#2a2a2a
}
.productSubMenu .link:hover, .productSubMenu .link.selected {    
	background: #0378B0;
    color: white;
}

.mobileColorLInk, #mobileGoBackToProductInfo {display:none;}
.submitButton {
	float:left;
}
.loadingColor {
    margin-left: 10px;
    margin-top: 5px;
    float: left;
   	display:none;
}
.loadingProduct {
	float:left;
	margin-left: 10px;
    margin-top: 5px;
    display: none;
}
  
@media screen and (max-width:680px) {
	.desktopVersion {display:none;}
	.colorElement .delete {display:none;}
	.mobileColorLInk, #mobileGoBackToProductInfo {display:block}
	.adminContent .header .headerText, .adminContent .header .deleteButton {float:none;}
	.adminContent .header .deleteButton {margin-top:10px;}
	#productColorsMobile {display:none;}
	#uploadProductColorsDesktop {display:block}
	input.normalInput[type='text'] {width:100%; padding-left:0px;}
	.redButton {width:100%}
	.whiteButton {text-align:center;}
	.adminContent .header .buttonContainer .publishUnpublishContainer, 
	.adminContent .header .buttonContainer .deleteContainer, 
	.adminContent .header .buttonContainer {float:none;}
	.whiteButton {margin-right:0px; margin-bottom:10px; margin-top:10px;}
	table.colorListTable .delete, #mobileSubMenuHide, #hideAddColorSection, a.hideMobileLink {display:none;}
	.submitButton, .loadingProduct {
		float:none;
	}
	.loadingProduct {
		text-align:center; margin: 5px 0px;
	}
}