.adminContent .header {
  
}

.section {padding: 10px 0px; font-size: 12px; border-top: 1px solid #cecece;}
.section .sectionHeader {font-size: 20px; margin-bottom: 15px;}
.section .InputLine {width:100%; clear:both; margin-bottom:10px;}
.section .InputLine .Label {float:left; font-weight:bold; width: 240px; padding-top: 8px;}
.section .sectionContent {display:none;}
.secondarHeader {
	font-size: 20px;
	padding: 10px 0px 5px 0px;
	
	font-weight:bold;
	height:30px;
}
.settingsContent {
	margin-bottom:0px;
	padding-bottom:20px;
	border-bottom: 1px solid #efedee;
}
.settingsContent .InputLine {
	margin-bottom:15px;
	height: 30px;
}
.settingsContent .InputLine .InputText {
	float:left;
}
.settingsContent .InputLine .inputLabel {
	float: left;
	margin-top: 6px;
	width: 110px;
}
.toggleLink {
	text-decoration:none;  color: #2a2a2a
}
.toggleIndicatorLogin, .toggleIndicatorUpdatePassword, 
.toggleIndicatorEmailSettings, .toggleIndicatorLocateLife, .toggleIndicatorTrackingEmail,
.toggleIndicatorShippingAddress, .togglePaymentNotifications, .toggleShippingCompany, .toggleShippingBoxes,
.togglePurchase {
	float:left; width:15px; color:#40aadd; font-weight:bold;
}
.ChangePassword {
	position:fixed;
	top:50%;
	left:50%;
	background:white;
	width: 270px;
	z-index: 2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-left:-135px;
	margin-top:-69px;
	display:none;
}
.ChangePassword .header {
font-size: 20px;
border-bottom: 1px solid #cecece;
padding: 10px;
}
.colorList {
	margin-top: 20px;
	font-size: 14px;	
}
.phoneNumber {
	width: 50px;
    margin-right: 5px;
}
.colorList .color {
	position:relative;
	width:300px;
	border-bottom:1px solid #f7f7f7
}
.colorList .color .label {
	width:200px;
	padding-top: 5px;
	margin-bottom: 5px;
}
.colorList .color .delete {
	position:absolute;
	background:url(../../images/delete.png) no-repeat center;
	width:20px;
	height:20px;
	top: 50%;
	margin-top:-10px;
	right: 0px;
}
.companyName, .companyAddress {
	width:315px
}
.companyCity {
	float:left; width:150px; margin-right:10px;
}
.companyState {
	float:left; width:50px; margin-right:10px;
}
.companyZip {
	float:left; width:75px; 
}
.submitTrackingEmailBtn, .PaymentSubmitButton, .purchaseSubmitButton {float:left;}
.loadingTracking {float: left; display:none;
    margin-top: 5px;
    margin-left: 10px;}
#pickupShippingAddress .submitButton, #pickupShippingAddress .loadingAddress {
	float:left;
}
#pickupShippingAddress .loadingAddress {
	margin-left:10px; margin-top:5px; display:none;
}
.submitEmailSettings, .loadingEmail, .loadingPayment, .loadingPurchase {float:left;}
.loadingEmail, .loadingLocateLife, .loadingPayment, .loadingPurchase {margin-top: 5px; margin-left: 6px; display:none;}
.locateLifeButton, .loadingLocateLife {
	float:left
}

.locateLifeToggle input[type='radio'] {
    margin-right: 5px;
}
#paymentNotifications .paymentEmailLine {
	margin-bottom:10px;
}
#paymentNotifications .paymentEmailLine input[type='radio'] {
    margin-right: 5px;
}
#paymentNotifications .paymentEmailLine .label {
	float:left; width:180px;
}
#paymentNotifications .paymentEmailLine .content {
	float:left;
}
#references .grouping {
	margin-bottom:15px;
}
#references .grouping .header {
	font-weight:bold; padding:0px 0px 5px 0px	
}
.methodLine {
	margin-bottom:5px;
}
.methodLine input {
	float:left; margin:0px 3px 0px 0px
}
.shippingMethodHeader {
	border-bottom: 1px solid #cecece;
    clear: both;
    width: 100%;
    margin-bottom:10px;
}
.shippingMethodHeader .header {
	float:left; font-size:16px !important; font-weight:bold;
}
.shippingMethodHeader .saveButton {
	float:right
}

.dimentionInput {
	float:left;
}


.dimentionInput .label {
	font-weight:bold; margin-bottom:5px;
}
.Dimensions input {
	width:60px;
	display:inline	
}
.Dimensions .ByElement {
	display:inline; margin: 0 10px 0 5px;
}
.Dimensions .Header, .boxSpec .Header {
	font-size:16px; color:#c9c9c9; margin-bottom:15px;
}
.boxSpec, .Dimensions {
	float:left;
}
.boxSpec {
	margin-left:40px
}
.boxSpec .dimentionInput {
	margin-left:20px;
}
.boxSpec .dimentionInput input {
	width:100px;
}

.boxLine {
	padding:10px; position:relative;
}

#shippingBoxesContent .rules {
	margin-top:20px;
}
#shippingBoxesContent .rules .rulesHeader {
	font-size:20px; color:#c30000
}
#shippingBoxesContent .rules ul {
	    margin-left: 16px;
    margin-top: 5px;
    margin-bottom: 30px;	
}
#shippingBoxesContent .rules ul li {
	margin-bottom:4px;
}
.BoxesHeader {
	font-size:20px; 
	color:#0090d5;
	
}
.deleteBtn {
	background: url(../../images/deleteCategory.png) no-repeat center;
    width: 30px;
    height: 15px;
    background-size: 15px 15px;	
    position:absolute;
    top:50%;
	margin-top: -7.5px;
    right:10px;
}
.edit {
	position:absolute;
	top:50%;
	right:45px;
	margin-top: -15px;
	float:left;
}
.boxLine input[type='text'] {
	height: auto !important;
    font-size: 12px !important;
    padding: 4px 1px !important;
    width:35px;
    text-align:center;
}
.boxLine .dimensionEdit, .boxLine .specificationEdit {
	display:none;
}
.button {
	margin-top: 10px;
	display:none;
}

.NewBoxButton, .loadingBox {
	float:left;
}
.loadingBox, .editBoxLoading {
    margin-left: 10px;
    margin-top: 5px;
    display: none;
}
.editBox, .editBoxLoading {
	float:left;
}
.mobileDelete {display:none;}

@media screen and (max-width:680px) {
	.submitEmailSettings, .loadingEmail, .submitTrackingEmailBtn, .loadingTracking, 
	.locateLifeButton, .loadingLocateLife, .PaymentSubmitButton, .loadingPayment,
	.PaymentSubmitButton, .purchaseSubmitButton {float:none;}
	.loadingTracking, .loadingLocateLife, .loadingPayment, .loadingPurchase {margin-top: 10px; margin-left: 0px; text-align:center; float:none;}
	.settingsContent .InputLine .InputText, .section .InputLine .Label, .companyCity, .companyState, .companyZip {float:none;}
	input[type='text'], input[type='password'], .boxLine input[type='text'] {width:100%;   padding-left: 0px !important;}
	.companyName, .companyAddress, .companyCity, .companyState, .companyZip {width:100%}
	.companyCity {margin-right:0px; margin-bottom:10px;}
	.companyState {margin-right:0px; margin-bottom:10px;}
	.submitButton, #pickupShippingAddress .loadingAddress {float:none !important;}
	#pickupShippingAddress .loadingAddress, .loadingEmail {text-align:center; margin-top:10px;}
	.shippingMethodHeader .header, .shippingMethodHeader .saveButton {float:none;}
	.shippingMethodHeader .saveButton {margin-bottom:10px;}
	.phoneNumber {width:100%; margin-right:0px; margin-bottom:5px;}
	.boxSpec, .Dimensions, .dimentionInput {float:none;}
	.boxSpec {margin-top:20px; margin-left:0px;}
	.Dimensions .ByElement {display:none;}
	.Dimensions, .dimentionInput {margin-top:10px;}
	.boxSpec .dimentionInput input {width:100%}
	.boxSpec .dimentionInput {margin-left:0px;}
	.NewBoxButton, .loadingBox, .editBox, .editBoxLoading {float:none;}
	.loadingBox, .editBoxLoading {margin-left:0px; margin-top:10px; text-align:center;}
	.edit {position:static; margin-top:5px; float:none; text-align:center; clear: both;}
	.dimentionX {display:none;}
	.boxLine input[type='text'] {height: 30px !important; font-size: 16px !important; padding:0px !important}
	.deleteBtn {display:none;}	
	.mobileDelete {display:block; margin-top:5px;}	
}


