* {margin:0; padding:0;}
body {
	color:#2a2a2a;
	font-family:Helvetica;
	font-size:12px;
}

header {  background: #3F3F3F; color: #2a2a2a; font-weight: bold; font-size: 12px;}
header .container {padding:15px; color:white; }
header .linkContaner {color:white; float:left; text-decoration:none;}
header .linkContaner:hover {background:#0378B0; color:white;}

.subMenu {width: 100%; background: #f1f1f1; border-bottom: 1px solid #DADADA;}
.subMenu .link {float:left; font-size:12px; padding:15px;}
.subMenu .link:hover {background: #ADADAD; color:white;}
.subMenu a:link, .subMenu a:visited {color:black;}
.subMenu .mobileMenuLink {display:none; height:45px; width: 45px; margin-left: 15px;}

.sectionMenu {padding: 15px; position: absolute; font-size: 12px;}
.sectionMenu .link {font-weight:normal; padding: 10px 0px 0px 0px;}
.sectionMenu a:link, .sectionMenu a:visited {text-decoration:underline; color:black}
.sectionMenu a:hover {text-decoration:none;}

.transactionBreadCrumb {padding: 10px 0px; color: #9c9c9c;}
.transactionBreadCrumb a:link, .transactionBreadCrumb a:visited {color: #9c9c9c; font-size:12px;}
.transactionBreadCrumb span {margin: 0 10px;}

.dateHeader {
	font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    position: relative;
}
.dateHeader .line {
	    border-top: 1px solid #cecece;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -9;
}
.dateHeader .text {
	    background: white;
    display: table;
    margin: 0 auto;
    padding: 0px 10px;
}


.adminContent {
	max-width:800px; margin:0 auto;
	padding:0px 10px;
}
.adminContent .header {font-size: 12px; padding: 10px 0px; font-weight: bold;}

.blueButton, .greenButton, .redButton, .whiteButton {padding: 7px 10px; -webkit-appearance: none;}

.blueButton {background: #0090d5; text-decoration:none; border-radius: 17px; -webkit-border-radius: 17px; -moz-border-radius: 17px;font-weight:bold; color:white;}
.blueButton:hover {background: #006B9E;}

.greenButton {background:#1ca201; font-weight:bold; color:white;   text-decoration:none; border-radius: 17px; -webkit-border-radius: 17px; -moz-border-radius: 17px; width:auto;}
.greenButton:hover {background: #147900;}

.redButton {background:#c30000; font-weight:bold; color:white; text-decoration:none; border-radius: 17px; -webkit-border-radius: 17px; -moz-border-radius: 17px;}
.redButton:hover {background: #840202;}
.whiteButton {border:1px solid #c9c9c9 !important; font-weight:bold; background:white !important; color:black !important; text-decoration:none; border-radius: 17px; -webkit-border-radius: 17px; -moz-border-radius: 17px;}
.whiteButton:hover { background: #E7E7E7 !important;}

.adminContent .adminContentWrapper .label2 {
	margin-top:20px; font-weight:bold
}
.adminContent .adminContentWrapper textarea {
	width: 600px;
	height: 200px;
	padding:0px;	
}
.mobileDropdowns select {
  width: 100%;
}

.mobileDropdowns {display:none}

.publishState {
	color: #0090d5; font-weight:bold;
}

.form-overlay {
	background: black;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: .5;
	display: none;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	z-index: 1;
}
input[type='submit'] {
	font-size:12px !important;
}



.close-button {
background: url(../../images/close-message.png) no-repeat center;
position:absolute;right:0px;
width: 33px;
height: 43px;
top:0px;
transition: background .15s ease;
-webkit-transition: background .15s ease;
-moz-transition: background .15s ease;
}
div.error {
	clear: both;
	font-size: 12px;
	color: #c30000;
	font-weight: bold;
}



.hyperlinkContainer {
  background: #eee;
  float: left;
  font-size: 12px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 8px 5px;
  margin-right: -1px;
  border-top-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
}




#uploadLogoDesktop {border:1px solid #0090d5; color:#0090d5; font-size:16px; text-align:center; padding:10px; display:none; margin-bottom:10px;}
#noImage {width:200px; font-size:16px; color:#c30000; border:1px solid #c30000; padding:10px; text-align:center; margin-bottom:10px;}

.emptyImage {
	width:180px; font-size:16px; color:#c30000; border:1px solid #c30000; padding:10px; text-align:center;
}

/*----------------input/textarea boxes---------------*/

input[type="submit"] {
	cursor:pointer;
	border:none;
	color: white;
	font-family: arial;
	font-size: 16px;
	padding: 7px 10px;
}

input[type="text"], input[type="password"], textarea, input[type="date"], input[type="number"] {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #cccccc;
	height: 30px;
	padding-left: 8px;
	transition: box-shadow .15s ease;
	-moz-transition: box-shadow .15s ease;
	-ms-transition: box-shadow .15s ease;
	-webkit-transition: box-shadow .15s ease;
	font-size: 16px;
	font-family: 'Helvetica';
	font-weight: 100;
}
:focus {
	outline:none;
}

input[type="text"]:focus, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:active, textarea:focus, textarea:active {
    border-color: #a0a0a0;
    box-shadow: 0 0 0 2px rgba(161, 161, 161, 0.25); 
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
	border-color: #a0a0a0;
    box-shadow: 0 0 0 2px rgba(161, 161, 161, 0.25);
}

.orderLabel {
	float: left;
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: bold;
	width: 110px;
}
.orderContent {
	margin-bottom: 5px;
}
.delete {
	font-size: 12px;
	background: #c30000;
	padding: 10px;
	color: white;
	text-decoration: none;
}
.delete:hover {
	background: #860505;
}
.DropDownArrow {width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-top: 15px solid white;
	margin-top: 15px;
 	 margin-right: 15px; display:none;}
 	 
.publishedNotification {
	  /**/border: 1px solid #1ca201; color:#1ca201; font-size:16px; text-align:center; padding:10px; margin-bottom:10px;	
}
/*----------------input/textarea boxes---------------*/

.filterSection .linkContainer {
	margin: 10px 0px 0px 0px;
}
.filterSection .linkContainer .link {
    border: 1px solid #c9c9c9;
    font-weight: bold;
    background: white !important;
    color: black !important;
    text-decoration: none;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    padding: 7px 10px;
    -webkit-appearance: none;
}
.filterSection .linkContainer .link:hover, .filterSection .linkContainer .link.selected {
	border:1px solid #0378B0;
	background: #0378B0 !important;
    color: white !important;
}

span#mobileTouch {
	display:none
}

.PageMobileDropDown {display:none;}
.PageMobileDropDown select {width:100%}


.pagination {
	border-top: 1px solid #cecece;
    padding: 10px 0px;
    display:none;
}


.pagination-left {
    border: 1px solid #c9c9c9;
    font-weight: bold;
    background: white !important;
    color: black !important;
    text-decoration: none;
    float: left;
    margin-right: 10px;
        padding: 6px 13px 7px 13px !important;
    -webkit-appearance: none;
    font-size:18px;
}
.pagination-right {
    border: 1px solid #c9c9c9;
    font-weight: bold;
    background: white !important;
    color: black !important;
    text-decoration: none;
    float: left;
    margin-right: 10px;
    padding: 6px 13px 7px 13px !important;
    -webkit-appearance: none;
    font-size: 18px;
}
.pagination-number {
   border: 1px solid #c9c9c9;
    font-weight: bold;
    background: white;
    color: black !important;
    text-decoration: none;
    float: left;
    margin-right: 10px;
    -webkit-appearance: none;
}
 

.pagination-left, .pagination-right, .pagination-number {
    padding: 10px 15px 10px 15px;
    float: left;
}

.pagination-number-selected, .pagination-number:hover, .pagination-right:hover, .pagination-left:hover {
	    border: 1px solid #0378B0 !important;
    background: #0378B0 !important;
    color: white !important;
}
.pagination-number-ellipse:hover {
	background: white !important;
    border: 1px solid #c9c9c9 !important;
    color: black !important;
}

.deleteSupporter {
    background: url(../../images/deleteCategory.png) no-repeat center;
    width: 30px;
    height: 15px;
    background-size: 15px 15px;
    position: absolute;

    right: 0px;
}

.contentWrapper .section {
	padding:10px 0px; font-size:12px;   border-top: 1px solid #cecece;
}
.contentWrapper .section .sectionHeader {
	font-size: 20px; margin-bottom:15px;
}

@media screen and (max-width:1200px) {
	#mainPagesSection {
		display:none;
	}
	.PageMobileDropDown {
		display:block;
	}
}

@media screen and (max-width:1050px) {
	.mobileDropdowns {display:block}
	#eCommerce {display:none;}
	.pagination-left, .pagination-right, .pagination-number {padding: 5px 10px 5px 10px; margin-bottom: 10px;}
	.pagination-left {padding:0px 9px 3px 9px !important}
}

@media screen and (max-width:680px) {
	.desktopLink {display:none; position: absolute; z-index:9; top: 44px;background: white; right: 5px; border: 1px solid #cecece; box-shadow: 0px 0px 3px #B3B3B3; -webkit-box-shadow: 0px 0px 3px #B3B3B3; -moz-box-shadow: 0px 0px 3px #B3B3B3;}
	.DropDownArrow {display:block}
	header .linkContaner {float:none; color:black}
	.subMenu .desktopSubMenu {display:none;}
	.subMenu .mobileMenuLink {display:block;}
	.subMenu .link {float:none;}
	#logoImageSection, #desktopFileUpload {display:none;}	
	#uploadLogoDesktop {display:block}
	.message {width: auto; margin-left: 0px; left: 10px; right: 10px;}
	.adminContent {padding:0px 25px;}
	input[type="text"], input[type="password"] {padding-left:0px !important; width:100%}
	input[type="submit"] {width:100%; text-align:center;}
	span#mobileTouch {display:inline}
	span#desktopClick {display:none}
	
}
