.adminContent .header {font-size:16px !important; border-bottom:1px solid #cecece}
.taxReportTable {border-collapse:collapse;}
.taxReportTable td {padding:5px 10px 5px 0px;}
.DatePickerForm {margin:10px 0px}
.DatePickerForm .inputLine {margin-bottom:15px;}
.DatePickerForm .inputLine .label {float:left; font-weight:bold; width:100px; margin-top: 10px;}

@media screen and (max-width:680px) {
	.DatePickerForm .inputLine .label{float:none; margin-bottom:4px;}
	input[type="date"] {width:100%; padding-left:0px !important;}
}