.adminContent .header {}
.adminContent .header .text {font-size:16px !important; float:left; margin-top: 10px;}
.header .newUserSection {float:right;}
.usersList {border-collapse:collapse; width:100%; }
.usersList tr.header td {border-top:1px solid #cecece; padding:10px 0px 5px 0px !important;}
.usersList td {padding:5px 0px 5px 0px;}
.TeamMemberLine {
	border-bottom: 1px solid #EDEDED;
    padding: 15px 10px;
    position: relative;
    background: white;
    cursor: ns-resize;
}
.TeamMemberLine a:link, .TeamMemberLine a:visited {
    color: black;
}
.TeamMemberLine .dragIcon {
    background: url(../../images/upDownIndicator.png) no-repeat center;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    left: 5px;
}
.TeamMemberLine .name {
    float: left;
    margin-left: 20px;
}
.submitButton {
	float:left;
}
.loadingTeamList {
    margin-top: 5px;
    margin-left: 6px;
    display: none;
    float: left;
}

@media screen and (max-width:680px) {
	.adminContent .header .text, .header .newUserSection {float:none;}
	.newUserButton {text-align:center; margin-top:10px;}
	#newTeamMember {
		display:none;
	}
	.submitButton, .loadingTeamList {
		float:none;
	}
	.loadingTeamList {
		text-align:center;
	}
}