.adminContent .header {}
.adminContent .header .text {font-size:16px !important; float:left;}
.header .deleteContainer {float:right;}
.usersList {border-collapse:collapse; width:100%; }
.usersList tr.header td {border-top:1px solid #cecece}
.usersList td {padding:5px;}
.section {
    padding: 10px 0px;
    font-size: 12px;
    border-top: 1px solid #cecece;
}
.section .sectionHeader {
    font-size: 20px;
    margin-bottom: 15px;
}
#permissionsSection .inputLine {
	margin-bottom:20px;
}
.section .inputLine {
	margin-bottom:10px;
}
.section .inputLine:last-child {
	margin-bottom:0px;
}
.section .inputLine .label {
	float:left; font-weight:bold; width:140px; margin-top:10px;
}
.section .inputLine .checkBox {float:left; margin-right:5px;}
.section .inputLine .permissionsLable {
	font-weight:bold; margin-bottom:0px; float: left;
}
.section .inputLine .explanation {
	margin-bottom:10px;
}
.section .inputLine .radioInput {
	margin-bottom:8px;
}
.radioInput .contentLabel {
	float:left; width:180px;
}
.section .inputLine .radioInput .labels {
	float:left;
}
.section .inputLine .dropdown {
	margin-top: -2px;
    float: left;
    margin-left:30px;
}
.section .inputLine .radioInput input[type='radio'] {
	margin-right:5px;
}

.profilePic {
    width: 200px;
    height: 200px;
    background-size: cover !important;
    background-position: 50% 50% !important;
    margin-bottom: 12px;
    border-radius: 130px;
	-webkit-border-radius: 130px;
	-moz-border-radius: 130px;
}


.submitButton, .loadingTeam {float:left;}
.loadingTeam {margin-left:10px; margin-top:5px; display:none; float:left}
textarea {
	width:100%; padding:0px !important; min-height:100px;
}
@media screen and (max-width:680px) {
	.section .inputLine .label {margin-bottom:5px;}
	.adminContent .header .text, .header .deleteContainer, .section .inputLine .label, .submitButton, .loadingUserSettings, .loadingPasswordForm {float:none;}
	.deleteUser {text-align:center; margin-top:10px;}
	.loadingUserSettings, .loadingPasswordForm {text-align:center; margin-top:10px;}
	.profilePic {
		width:150px; height:150px; margin:0 auto 20px auto;
	}
}