.adminContent .header {}
.adminContent .header .text {font-size:16px !important; float:left; margin-top: 10px;}
.header .newUserSection {float:right;}
.usersList {border-collapse:collapse; width:100%; }
.usersList tr.header td {border-top:1px solid #cecece; padding:10px 0px 5px 0px !important;}
.usersList td {padding:5px 0px 5px 0px;}
.usersList a:link, .usersList a:visited {color:#2a2a2a}
@media screen and (max-width:680px) {
	.adminContent .header .text, .header .newUserSection {float:none;}
	.newUserButton {text-align:center; margin-top:10px;}
	#newTeamMember {
		display:none;
	}
}