.contactLine {
	padding:10px; position:relative;
}
.indicator {
	border-bottom: 1px solid #F3F3F3;
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
}

.checkboxContainer {
    float: left;
    padding-right: 10px;
    background: white;
    position: relative;	
}

.contactName {
	padding-right: 10px;
    background: white;
    position: relative;
}

.contactContent {
	float:right;
	padding-left: 10px;
    background: white;
    position: relative;
}

.adminContent .line .header {
	 font-size:16px !important;
	 float:left
}
.adminContent .line .button {
	float:right;
}

.warrantyContent {
	padding:10px 0px;
}
.warrantyContent .section {
    padding: 10px 0px;
    font-size: 12px;
    border-top: 1px solid #cecece;
}
.warrantyContent .section .sectionHeader {
    font-size: 20px;
    margin-bottom: 15px;
}
.warrantyContent .section .label {
	width:150px; float:left;
}
.warrantyContent .section .line {
	clear:both;
	border-bottom:none;
	margin-bottom:5px;
}
.warrantyContent .section .shipmentAddress {
	margin-left:150px;
}
.contactContent {float:right}
a.viewPhotoLink:link, a.viewPhotoLink:visited {
	    font-size: 16px;
    color: #0090d5;
    font-weight: normal;
    text-decoration: none;
}
a.viewPhotoLink:hover {
	text-decoration:underline
}
.blueButton {float:left;}
.buttonHolder {
	margin:10px 0px;
}
.buttonHolder .button {
	float:left; margin-right:10px;
}
.ApprovedWarranty {font-size:16px; text-align:center; padding:10px; border:1px solid #1ca201; color:#1ca201; margin-bottom: 10px;}
.declineWarranty {font-size:16px; text-align:center; padding:10px; border:1px solid #c30000; color:#c30000; margin-bottom: 10px;}

.backgroundOverlay {
	background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    z-index: 1;
    display:none;
}
.warrantyDeclinePopup {
	    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    background: white;
    z-index: 99;
    width: 350px;
    margin-left:-175px;
    margin-top:-109px;
    display:none;
}
.warrantyDeclinePopup .header {
	font-size:20px !important; 
	font-weight:normal !important; 
	border-bottom:1px solid #e9e9e9; 
	padding: 10px !important;
	position:relative;
}
.warrantyDeclinePopup .close {
	background: url(../../images/close-message.png) no-repeat center;
    width: 33px;
    height: 43px;
    transition: background .15s ease;
    -webkit-transition: background .15s ease;
    -moz-transition: background .15s ease;
    position:absolute;right:0px; top:0px;
    }
.warrantyDeclinePopup .paddingContent {
	padding:10px;
}
.warrantyDeclinePopup textarea {
	width:100%; padding:0px; min-width:100%; max-width:100%; height:60px;
}
.warrantyDeclinePopup .SubmitButtonContainer,.warrantyDeclinePopup .warrantyLoad {
	float:left;
}
.warrantyDeclinePopup .warrantyLoad {
	    margin-top: 6px;
    margin-left: 10px;
    display:none;
}
@media screen and (max-width:680px) {
	.warrantyDeclinePopup {margin-left:0px; margin-top:0px; left:10px; right:10px; top:10px; width: auto;}
	.adminContent .line .button, .adminContent .line .header {float:none;}
	.button {margin-bottom:15px;}
	.warrantyContent .section .label {float:none;}
	.warrantyContent .section .line {
		margin-bottom:10px;
	}
	.warrantyContent .section .shipmentAddress {margin-left:0px;}
	.blueButton {float:none !important; text-align:center;}
	.buttonHolder .button {float:none; margin-right:0px; margin-bottom:10px; text-align:center;}
	.contactContent {float: none; margin-top: 35px; margin-left: 22px;}
	.warrantyDeclinePopup .SubmitButtonContainer,.warrantyDeclinePopup .warrantyLoad {float:none;}
	.warrantyLoad {text-align:center; margin-top:10px;}
	.indicator {display:none;}
	.contactContent {float: none; margin-top: 35px; margin-left: 22px; padding-left:0px;}
	
	
}