body {
	background:black;
	margin:0;
	padding:0px;
}
#container_2 {
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
}
ul {
	padding:0px;
	margin:0px;
}
ul li {
	list-style-type:none;
	position:absolute;
}

.photo {
	background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
        z-index: 999;
}
#photo2, #photo3 {
	display:none;
}
.leftArrowGradient {
	background-image:linear-gradient(
      to left, 
      red, #f06d06
    );
}
.left {
	background:url(../../images/leftPhotoSlideShow.png) no-repeat center;
	width:28px;
	height:49px;
	left:10px;
	opacity:.5;
    
}
.left:hover, .right:hover {opacity:1;}


.right {
	background:url(../../images/rightPhotoSlideShow.png) no-repeat center;
	width:28px;
	height:49px;
	right:10px;
	opacity:.5;
}
.slideShowArrow {
	position:absolute; top:50%; margin-top:-14px;    z-index: 1000; 
	
}
